Repository iotaledger/trinity-wallet, pull requests merged in 2018-09, with the labels that each got.

#326 Fix android & iOS builds
  .eslintignore
  .gitignore
  src/mobile/android/app/src/main/AndroidManifest.xml
  src/mobile/android/app/src/main/java/org/iota/mobile/Argon2Android.java
  src/mobile/ios/Podfile.lock
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/nodejs-assets/nodejs-project/main.js
  src/mobile/nodejs-assets/nodejs-project/package-lock.json
  src/mobile/nodejs-assets/nodejs-project/package.json
  src/mobile/nodejs-assets/nodejs-project/yarn.lock
  src/mobile/package.json
  src/mobile/yarn.lock
  yarn.lock
Labels: C - Mobile, E - Functional, L - Need reviews

#325 Add local spend status to each address in state
  src/desktop/src/ui/views/account/Addresses.js
  src/mobile/containers/ViewAddresses.js
  src/shared/__tests__/__samples__/accounts.js
  src/shared/__tests__/actions/transfers.spec.js
  src/shared/__tests__/libs/iota/accounts.spec.js
  src/shared/__tests__/libs/iota/addresses.spec.js
  src/shared/__tests__/libs/iota/inputs.spec.js
  src/shared/__tests__/reducers/accounts.spec.js
  src/shared/actions/transfers.js
  src/shared/actions/wallet.js
  src/shared/libs/iota/accounts.js
  src/shared/libs/iota/addresses.js
  src/shared/libs/iota/inputs.js
  src/shared/reducers/accounts.js
Labels: C - Shared, E - Functional, L - Need reviews

#332 Fix address data length mismatch exception
  src/shared/libs/iota/addresses.js
Labels: C - Shared, T - Bug

#334 Mobile release v0.5.0 (20)
  src/mobile/android/app/build.gradle
  src/mobile/android/fastlane/report.xml
  src/mobile/ios/fastlane/report.xml
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
Labels: C - Mobile

#333 Fix documentation for globally installing electron
  src/desktop/README.md
Labels: C - Desktop, E - Documentation

#343 Compute correct transaction value for exchange/field bundles
  src/shared/__tests__/libs/iota/transfers.spec.js
  src/shared/libs/iota/transfers.js
Labels: C - Shared, E - Functional

#344 Ensure react-native-view-shot saves to internal cache
  src/mobile/package.json
  src/mobile/yarn.lock
Labels: C - Mobile, E - Security, P - Android

#348 Desktop: Electron and Babel dependencies update
  src/desktop/.babelrc
  src/desktop/babel.config.js
  src/desktop/lib/preload/Electron.js
  src/desktop/package.json
  src/desktop/src/ui/components/Logo.js
  src/desktop/yarn.lock
Labels: C - Desktop

#304 Desktop: Fix interpolation on SeedSave component
  src/desktop/src/libs/i18next.js
  src/desktop/src/ui/views/onboarding/SeedSave.js
  src/shared/i18next.js
Labels: C - Desktop, L - Need reviews

#356 Fix interpolation
  src/desktop/src/ui/components/Dropzone.js
  src/desktop/src/ui/views/onboarding/SeedGenerate.js
  src/shared/locales/en/translation.json
Labels: C - Desktop, E - UI/UX, L - Need reviews

#358 Minor fixes and refactor
  src/mobile/components/Chart.js
  src/mobile/containers/ForceChangePassword.js
  src/mobile/containers/Home.js
  src/mobile/containers/SetPassword.js
  src/mobile/containers/TopBar.js
  src/mobile/package.json
  src/mobile/yarn.lock
Labels: C - Mobile, E - Refactor

#346 Mobile release v0.5.0 (21)
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
Labels: C - Mobile

#359 Mobile/iOS: Re-enable bitcode
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
Labels: C - Mobile, P - iOS, enhancement

#352 Desktop: Fix top corner resize not working
  src/desktop/src/ui/global/titlebar.scss
Labels: C - Desktop, T - Bug

#361 Mobile/iOS: Use NodeMobile framework built with Bitcode
  src/mobile/package.json
  src/mobile/yarn.lock
Labels: C - Mobile, P - iOS

#353 Desktop: Trigger 2fa verification automatically
  src/desktop/src/ui/views/onboarding/Login.js
  src/desktop/src/ui/views/settings/TwoFA.js
Labels: C - Desktop, E - UI/UX, enhancement

#368 Promotion adjustments
  src/desktop/src/ui/global/Polling.js
  src/shared/actions/transfers.js
  src/shared/libs/iota/transfers.js
Labels: C - Desktop, C - Shared, E - Functional, L - Need reviews

#350 Desktop: Update in memory seed usage
  src/desktop/lib/Entangled.js
  src/desktop/lib/kdbx.js
  src/desktop/lib/preload/Electron.js
  src/desktop/src/libs/crypto.js
  src/desktop/src/libs/helpers.js
  src/desktop/src/ui/components/SeedPrint.js
  src/desktop/src/ui/components/input/Seed.js
  src/desktop/src/ui/views/account/Seed.js
  src/desktop/src/ui/views/account/Tools.js
  src/desktop/src/ui/views/onboarding/Login.js
  src/desktop/src/ui/views/onboarding/SeedGenerate.js
  src/desktop/src/ui/views/onboarding/SeedSaveWrite.js
  src/desktop/src/ui/views/onboarding/SeedVerify.js
  src/desktop/src/ui/views/wallet/Receive.js
  src/desktop/src/ui/views/wallet/Sidebar.js
  src/shared/actions/accounts.js
  src/shared/actions/transfers.js
  src/shared/actions/wallet.js
  src/shared/libs/iota/accounts.js
  src/shared/libs/iota/extendedApi.js
Labels: C - Desktop, L - Need reviews, T - Bug

#396 Desktop: Add text drag&drop feature for seed input
  src/desktop/src/ui/components/Dropzone.js
  src/desktop/src/ui/components/input/Seed.js
Labels: C - Desktop, L - Need reviews, enhancement

#398 Desktop release v0.3.4
  src/desktop/lib/preload/Electron.js
  src/desktop/package.json
  src/desktop/src/ui/global/About.js
  src/desktop/yarn.lock
Labels: C - Desktop

#400 Update shared `iota.lib.js` dependency version
  src/shared/package.json
Labels: C - Shared, enhancement

#402 Desktop: Remove transaction `hash` key reference
  src/desktop/src/ui/components/List.js
Labels: C - Desktop, T - Bug

#405 Dekstop: Fix 9 not accepted in seed input
  src/desktop/src/ui/components/input/Seed.js
Labels: C - Desktop, P2 - High

#407 Desktop: Fix byte/trit conversion
  src/desktop/lib/Entangled.js
  src/desktop/src/libs/crypto.js
  src/desktop/src/libs/helpers.js
  src/desktop/src/ui/views/onboarding/Login.js
Labels: C - Desktop, P2 - High

#393 Handle read permissions on runtime when seedvault is imported (Android)
  src/mobile/__tests__/ui/components/SeedVaultImportComponent.spec.js
  src/mobile/src/ui/components/SeedVaultImportComponent.js
Labels: C - Mobile, E - Functional, L - Need reviews

#409 Reorder start up functions to fix splash screen hang on android
  src/mobile/src/libs/store.js
  src/mobile/src/ui/routes/entry.js
Labels: C - Mobile, E - Functional, L - Need reviews, P - Android

#417 Temporarily disable SeedVault on iPhone XS/XS Max/XR
  src/mobile/__mocks__/react-native-device-info.js
  src/mobile/src/libs/device.js
  src/mobile/src/ui/views/onboarding/EnterSeed.js
  src/mobile/src/ui/views/onboarding/SaveYourSeed.js
  src/mobile/src/ui/views/onboarding/SeedReentry.js
  src/mobile/src/ui/views/wallet/AccountManagement.js
  src/mobile/src/ui/views/wallet/UseExistingSeed.js
  src/mobile/yarn.lock
Labels: C - Mobile, L - Need reviews, P1 - Critical, T - Bug

#364 Mobile/iOS: Use memset_s instead of memset
  src/mobile/ios/EntangledIOS/EntangledIOS.m
Labels: C - Mobile, E - Security, L - Need reviews, P - iOS

#422 Add 0.3.4 release locked funds check and sweep functionality
  src/desktop/lib/preload/Electron.js
  src/desktop/src/ui/views/wallet/Index.js
  src/shared/__tests__/libs/iota/inputs.spec.js
  src/shared/__tests__/libs/iota/recovery.spec.js
  src/shared/__tests__/libs/iota/transfers.spec.js
  src/shared/__tests__/reducers/accounts.spec.js
  src/shared/__tests__/reducers/settings.spec.js
  src/shared/actions/accounts.js
  src/shared/actions/recovery.js
  src/shared/actions/settings.js
  src/shared/actions/wallet.js
  src/shared/libs/errors.js
  src/shared/libs/iota/addresses.js
  src/shared/libs/iota/converter.js
  src/shared/libs/iota/inputs.js
  src/shared/libs/iota/recovery.js
  src/shared/libs/iota/transfers.js
  src/shared/libs/iota/utils.js
  src/shared/locales/en/translation.json
  src/shared/reducers/accounts.js
  src/shared/reducers/settings.js
Labels: C - Desktop, P2 - High

#413 Update to Swift 4.2 and Xcode 10
  src/mobile/README.md
  src/mobile/ios/Podfile
  src/mobile/ios/Podfile.lock
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Labels: C - Mobile, E - Refactor, L - Need reviews, P - iOS

#427 Desktop: Fix Bugsnag sourcemap uploads
  src/desktop/bugsnag.js
Labels: C - Desktop, L - Need reviews, T - Meta

#428 Desktop: Fix sweep confirmation message locale
  src/shared/locales/en/translation.json
Labels: C - Desktop

#429 Desktop: Fix warning string
  src/shared/locales/en/translation.json
Labels: C - Desktop

#435 Desktop: Use a separate keychain entry for development versions
  src/desktop/lib/preload/Electron.js
Labels: C - Desktop, E - Security, L - Need reviews
