Repository iotaledger/trinity-wallet, pull requests merged in 2018-08, with the labels that each got.

#282 Desktop: Fix incorrect locale references for autoUpdater dialogs
  src/desktop/lib/Menu.js
Labels: C - Desktop, E - Functional, L - Need reviews

#271 correction of minor typos/formating in german privacy policy (Android/Desktop)
  src/shared/markdown/dePrivacyPolicyAndroid.js
Labels: C - Shared, E - UI/UX, L - Need reviews

#298 Mobile: Fix QR code for fiat amounts
  src/mobile/containers/Receive.js
Labels: C - Mobile, T - Bug

#284 Desktop: Paper wallet print character bugfix
  src/desktop/src/ui/components/SeedPrint.js
  src/desktop/src/ui/index.scss
  src/desktop/src/ui/views/account/Seed.js
  src/desktop/src/ui/views/wallet/Receive.js
  src/shared/custom-fonts/SourceSansPro-Regular.json
Labels: C - Desktop, E - Functional, L - Need reviews

#300 Desktop: Update Linux missing library tutorial
  src/desktop/src/ui/global/FatalError.js
  src/desktop/src/ui/views/onboarding/index.scss
Labels: C - Desktop, E - Documentation

#285 Desktop: Add missing compilation step to documentation
  full-setup.js
  src/desktop/README.md
Labels: C - Desktop, E - Documentation

#283 Update denominations when currency is changed
  src/mobile/__tests__/containers/CurrencySelection.spec.js
  src/mobile/containers/CurrencySelection.js
  src/shared/libs/iota/utils.js
  yarn.lock
Labels: C - Mobile, C - Shared, L - Need reviews, T - Bug

#294 Shared: Minor changes to German privacy policy
  src/shared/markdown/dePrivacyPolicyAndroid.js
  src/shared/markdown/dePrivacyPolicyIOS.js
Labels: C - Shared, E - Documentation, L - Need reviews

#277 Shared: Add support for Persian, Kannada, and Serbian (Latin)
  src/desktop/src/libs/i18next.js
  src/mobile/i18next.js
  src/shared/i18next.js
  src/shared/libs/i18n.js
  src/shared/libs/locale.js
Labels: C - Shared, E - UI/UX, L - Need reviews

#289 Shared: Clean up and simplify localization functions
  src/mobile/containers/LanguageSelection.js
  src/mobile/containers/LanguageSetup.js
  src/mobile/containers/MainSettings.js
  src/shared/__tests__/libs/i18n.spec.js
  src/shared/libs/i18n.js
  src/shared/libs/locale.js
Labels: C - Shared, E - Refactor, L - Need reviews

#301 Desktop release v0.3.3
  src/desktop/package.json
  src/desktop/src/ui/global/About.js
Labels: C - Desktop
