Repository iotaledger/trinity-wallet, pull requests merged in 2018-10, with the labels that each got.

#436 Fix typo in iPhone11 detection
  src/mobile/src/ui/views/wallet/AccountManagement.js
Labels: C - Mobile, L - Need reviews, T - Bug

#430 Add support for Hungarian
  src/desktop/src/libs/i18next.js
  src/mobile/src/libs/i18next.js
  src/shared/i18next.js
  src/shared/libs/i18n.js
Labels: C - Shared, E - UI/UX, L - Need reviews

#434 Add local timezone support
  src/desktop/package.json
  src/desktop/src/ui/components/Chart.js
  src/desktop/src/ui/components/List.js
  src/desktop/src/ui/global/ErrorLog.js
  src/desktop/yarn.lock
  src/mobile/nodejs-assets/nodejs-project/yarn.lock
  src/mobile/src/libs/device.js
  src/mobile/src/ui/components/HistoryModalContent.js
  src/mobile/src/ui/components/NotificationLog.js
  src/mobile/src/ui/components/SimpleTransactionRow.js
  src/mobile/src/ui/components/TransactionRow.js
  src/mobile/yarn.lock
  src/shared/libs/date.js
  src/shared/package.json
  src/shared/yarn.lock
Labels: C - Desktop, C - Mobile, C - Shared, E - UI/UX, L - Need reviews

#426 Fix failing HistoryModalContent test
  src/mobile/src/ui/components/HistoryModalContent.js
Labels: C - Mobile, E - Functional, P3 - Medium, T - Bug

#439 Desktop: Fix machine UUID collection
  src/desktop/lib/preload/Electron.js
  src/desktop/package.json
  src/desktop/src/index.js
  src/desktop/yarn.lock
Labels: C - Desktop, E - Functional, L - Need reviews, T - Bug

#374 Allow path to be specified in dSYM upload script
  .gitignore
  src/mobile/android/Gemfile.lock
  src/mobile/ios/Gemfile.lock
  src/mobile/ios/fastlane/Fastfile
  src/mobile/ios/fastlane/README.md
Labels: C - Mobile, L - Need reviews, T - Meta

#385 Update prepareTransfersArray implementation
  src/desktop/src/ui/views/wallet/Index.js
  src/shared/__tests__/actions/transfers.spec.js
  src/shared/__tests__/libs/iota/addresses.spec.js
  src/shared/__tests__/libs/iota/transfers.spec.js
  src/shared/actions/transfers.js
  src/shared/actions/wallet.js
  src/shared/libs/errors.js
  src/shared/libs/iota/addresses.js
  src/shared/libs/iota/transfers.js
  src/shared/reducers/accounts.js
Labels: C - Shared, E - Functional, L - Need reviews

#467 Mobile release v0.5.1 (23)
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
  src/mobile/package.json
Labels: C - Mobile, Release

#478 Fix dependency installation instructions and scripts
  README.md
  full-setup.js
  package.json
  src/desktop/README.md
  src/desktop/package.json
  src/mobile/README.md
  src/mobile/package.json
Labels: C - Desktop, C - Mobile, C - Shared, E - Documentation, L - Need reviews

#489 Fix react-native-dropdownalert dependency
  src/mobile/package.json
  src/mobile/yarn.lock
Labels: C - Mobile

#487 [Desktop] Add dark menu bar icon support for macOS
  src/desktop/main.js
  src/desktop/webpack.config/config.base.js
Labels: C - Desktop, E - UI/UX, P - macOS

#490 Realm setup
  src/mobile/ios/Podfile.lock
  src/mobile/package.json
  src/mobile/rn-cli.config.js
  src/mobile/src/libs/store.js
  src/mobile/src/ui/views/wallet/Loading.js
  src/mobile/yarn.lock
  src/shared/actions/marketData.js
  src/shared/libs/schemas/wallet.js
  src/shared/package.json
  src/shared/schema/index.js
  src/shared/storage/index.js
  src/shared/yarn.lock
Labels: C - Mobile, C - Shared

#483 Purge persisted state on wallet reset
  src/mobile/src/ui/views/wallet/WalletResetRequirePassword.js
Labels: C - Mobile, E - Functional, L - Need reviews

#482 Bump build numbers for release v0.5.1 (25)
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
Labels: C - Mobile, Release

#485 Mobile: Reset wallet if credentials are missing
  src/desktop/lib/preload/Electron.js
  src/desktop/npm-shrinkwrap.json
  src/desktop/src/ui/Index.js
  src/desktop/src/ui/Tray.js
  src/desktop/src/ui/components/Balance.js
  src/desktop/src/ui/views/account/Index.js
  src/desktop/src/ui/views/onboarding/AccountName.js
  src/mobile/src/libs/keychain.js
  src/mobile/src/libs/store.js
  src/mobile/src/ui/components/MultiTextInput.js
  src/mobile/src/ui/routes/entry.js
  src/mobile/src/ui/views/wallet/ChangePassword.js
  src/mobile/src/ui/views/wallet/Home.js
  src/mobile/src/ui/views/wallet/LanguageSelection.js
  src/mobile/src/ui/views/wallet/TwoFactorSetupEnterToken.js
  src/shared/__tests__/selectors/accounts.spec.js
  src/shared/actions/recovery.js
  src/shared/containers/global/AutoNodeSwitching.js
Labels: C - Mobile, E - Functional, L - Need reviews, P - iOS, P2 - High, T - Bug

#497 Mobile: Bump bugsnag-react-native to v2.11.0
  src/mobile/package.json
  src/mobile/yarn.lock
Labels: C - Mobile, L - Need reviews

#495 Revert (temporarily made) promotion adjustments
  src/shared/actions/transfers.js
  src/shared/libs/iota/transfers.js
Labels: C - Shared, E - Functional, L - Need reviews

#502 Hotfix: 0.5.1 (26)
  src/mobile/android/Gemfile.lock
  src/mobile/android/app/build.gradle
  src/mobile/ios/Launch Screen.storyboard
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
  src/mobile/package.json
  src/mobile/src/libs/device.js
  src/mobile/src/ui/components/SafeAreaView.js
  src/mobile/src/ui/components/SettingsContent.js
  src/mobile/src/ui/views/wallet/Send.js
  src/mobile/yarn.lock
Labels: C - Mobile, Release

#507 [shared] Privacy policy update
  src/shared/markdown/dePrivacyPolicyAndroid.js
  src/shared/markdown/dePrivacyPolicyIOS.js
  src/shared/markdown/enPrivacyPolicyAndroid.js
  src/shared/markdown/enPrivacyPolicyIOS.js
Labels: C - Shared

#379 Handle unrecognised account errors
  src/desktop/src/ui/views/onboarding/Login.js
  src/shared/locales/en/translation.json
Labels: C - Desktop, E - Functional, L - Need reviews

#512 [shared] Update mentions of password to Trinity Password and SeedVault Key
  src/desktop/src/ui/components/input/Seed.js
  src/desktop/src/ui/views/settings/TwoFA.js
  src/mobile/src/ui/components/PasswordValidationModal.js
  src/mobile/src/ui/components/SeedVaultExportComponent.js
  src/mobile/src/ui/components/SeedVaultImportComponent.js
  src/shared/locales/en/translation.json
Labels: C - Shared, E - UI/UX

#530 adjusting Alert.js to match the name change made at c0c0c765236746443…
  src/shared/containers/global/Alerts.js
Labels: C - Shared, E - Functional, T - Bug

#527 Fix Android build
  src/mobile/android/build.gradle
  src/mobile/package.json
  src/mobile/yarn.lock
Labels: C - Mobile, L - Need reviews, P - Android, P2 - High, T - Bug

#528 Upgrade url-parse to 1.4.3
  src/shared/.snyk
  src/shared/package.json
  src/shared/yarn.lock
Labels: C - Shared, E - Security, L - Need reviews

#524 Add missing translations
  src/mobile/src/ui/views/wallet/MainSettings.js
  src/mobile/src/ui/views/wallet/ModeSelection.js
  src/mobile/src/ui/views/wallet/ThemeCustomisation.js
  src/shared/locales/en/translation.json
Labels: C - Mobile, C - Shared, E - UI/UX, L - WIP

#511 [desktop] Add Wallet reset functionality for non authorised users
  src/desktop/lib/Menu.js
  src/desktop/src/ui/components/modal/Confirm.js
  src/desktop/src/ui/views/settings/Advanced.js
  src/desktop/src/ui/views/settings/Index.js
Labels: C - Desktop, E - UI/UX

#357 iOS refactoring
  src/mobile/ios/Argon2/Argon2IOS.swift
  src/mobile/ios/EntangledIOS/EntangledIOS.m
  src/mobile/ios/EntangledIOS/EntangledKit.framework/EntangledKit
  src/mobile/ios/EntangledIOS/EntangledKit.framework/Headers/Interface.h
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/AppDelegate.m
Labels: C - Mobile, E - Refactor, L - Need reviews, P - iOS, T - Enhancement

#510 [desktop] Auto updates functionality update
  src/desktop/lib/Menu.js
  src/desktop/main.js
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
  src/desktop/src/ui/Index.js
  src/desktop/src/ui/components/Progress.js
  src/desktop/src/ui/components/progress.scss
  src/desktop/src/ui/global/UpdateProgress.js
  src/shared/containers/global/Alerts.js
  src/shared/locales/en/translation.json
Labels: C - Desktop, E - UI/UX

#499 [Realm] Node schema
  .gitignore
  src/shared/__tests__/storage/node.spec.js
  src/shared/package.json
  src/shared/schema/index.js
  src/shared/storage/index.js
Labels: C - Shared, L - Need reviews

#532 Mobile/iOS: Fix iPhone X/Android issues with text fields on various components
  src/desktop/npm-shrinkwrap.json
  src/desktop/yarn.lock
  src/mobile/android/app/src/main/AndroidManifest.xml
  src/mobile/package.json
  src/mobile/src/ui/views/onboarding/SetPassword.js
  src/mobile/src/ui/views/wallet/ForceChangePassword.js
  src/mobile/yarn.lock
  yarn.lock
Labels: C - Mobile, E - UI/UX, L - Need reviews

#515 EPL/Apache dual-license
  LICENSE
  docs/copyrightHeader
  package.json
  src/desktop/package.json
  src/mobile/package.json
  src/shared/package.json
Labels: T - Meta

#537 #536 Make DevSettings activity readable
  src/mobile/android/app/src/main/AndroidManifest.xml
  src/mobile/android/app/src/main/res/values/colors.xml
  src/mobile/android/app/src/main/res/values/styles.xml
Labels: C - Mobile, P - Android

#539 Add translation strings for Ledger support
  src/shared/locales/en/translation.json
Labels: C - Shared, E - UI/UX
