Repository iotaledger/trinity-wallet, pull requests merged in 2018-11, with the labels that each got.

#540 Desktop: Add publisherName to Windows build settings [ci skip]
  src/desktop/package.json
Labels: C - Desktop, P - Windows

#541 Desktop: Disable Remote debugging port on production build
  src/desktop/main.js
Labels: C - Desktop, E - Security, P2 - High

#547 Desktop release v0.4.0
  src/desktop/package.json
  src/desktop/src/ui/global/About.js
Labels: C - Desktop

#549 [mobile] Fix tests
  src/mobile/__tests__/ui/components/EnterPasswordOnLogin.spec.js
  src/mobile/__tests__/ui/components/LogoutConfirmationModal.spec.js
  src/mobile/__tests__/ui/components/NotificationLogModal.spec.js
  src/mobile/__tests__/ui/components/RootDetectionModal.spec.js
  src/mobile/__tests__/ui/components/Tab.spec.js
  src/mobile/__tests__/ui/components/TransactionHistoryModal.spec.js
  src/mobile/__tests__/ui/views/onboarding/SetAccountName.spec.js
  src/mobile/__tests__/ui/views/wallet/AdvancedSettings.spec.js
  src/mobile/__tests__/ui/views/wallet/EditAccountName.spec.js
  src/mobile/__tests__/ui/views/wallet/ManualSync.spec.js
  src/mobile/__tests__/ui/views/wallet/Send.spec.js
Labels: C - Mobile, L - Need reviews

#542 Mobile: Fix module-resolver issues
  src/mobile/.babelrc
  src/mobile/package.json
Labels: C - Mobile, T - Bug

#563 Shared: Revert some dependency updates
  greenkeeper.json
  src/mobile/yarn.lock
  src/shared/package.json
  src/shared/yarn.lock
Labels: C - Shared, L - Need reviews, P2 - High, T - Bug

#567 Fix mistake in greenkeeper.json [ci skip]
  greenkeeper.json
Labels: L - Need reviews

#552 Fixes minor UI bugs in Ledger account creation
  src/desktop/src/ui/views/onboarding/AccountName.js
  src/desktop/src/ui/views/onboarding/AccountPassword.js
Labels: C - Desktop, E - UI/UX, L - Need reviews

#561 Add npm-shrinkwrap.json
  src/desktop/npm-shrinkwrap.json
Labels: C - Desktop, L - Need reviews

#569 Fix Android 8.0+ SeedVault crash
  src/mobile/package.json
  src/mobile/yarn.lock
Labels: C - Mobile, P - Android, P2 - High, T - Bug

#578 Desktop: Fix account addition error check
  src/desktop/src/libs/crypto.js
  src/desktop/src/ui/Index.js
  src/desktop/src/ui/views/onboarding/AccountPassword.js
  src/desktop/src/ui/views/onboarding/Done.js
  src/desktop/src/ui/views/onboarding/Index.js
  src/desktop/src/ui/views/onboarding/Login.js
Labels: C - Desktop, P3 - Medium, T - Bug

#570 Desktop: Ledger integration bugfixes
  src/desktop/native/hardware/Ledger.js
  src/desktop/src/libs/SeedStore/Ledger.js
  src/desktop/src/ui/views/account/Seed.js
  src/desktop/src/ui/views/onboarding/seedStore/Ledger.js
  src/desktop/src/ui/views/onboarding/seedStore/index.scss
  src/desktop/src/ui/views/wallet/Send.js
  src/shared/actions/transfers.js
  src/shared/locales/en/translation.json
Labels: C - Desktop, L - Need reviews, T - Bug

#535 #470 Feat/rename seedvault file
  src/desktop/native/Menu.js
  src/desktop/native/preload/Electron.js
  src/desktop/src/libs/SeedStore/index.js
  src/desktop/src/libs/helpers.js
  src/desktop/src/ui/Index.js
  src/desktop/src/ui/global/Alpha.js
  src/desktop/src/ui/views/account/Seed.js
  src/desktop/src/ui/views/onboarding/SeedIntro.js
  src/mobile/__tests__/ui/views/onboarding/SetAccountName.spec.js
  src/mobile/src/ui/components/SeedVaultExportComponent.js
  src/shared/libs/errors.js
  src/shared/libs/utils.js
Labels: C - Desktop, C - Mobile, E - Functional, L - Need reviews, T - Enhancement

#575 Desktop: Update css and highlight receive address checksum
  src/desktop/src/ui/components/button.scss
  src/desktop/src/ui/components/input/input.scss
  src/desktop/src/ui/global/theming.scss
  src/desktop/src/ui/views/account/seed.scss
  src/desktop/src/ui/views/wallet/Receive.js
  src/desktop/src/ui/views/wallet/dashboard.scss
  src/desktop/src/ui/views/wallet/receive.scss
Labels: C - Desktop, E - UI/UX

#583 Increase request timeout for all network calls to IRI
  src/shared/config.js
Labels: C - Shared, E - Functional, L - Need reviews, P3 - Medium

#545 Desktop: Added ability to see the complete address when initiating a transfer.
  src/desktop/package.json
  src/desktop/src/ui/components/input/Address.js
  src/desktop/src/ui/components/input/input.scss
Labels: C - Desktop, L - Need reviews, T - Enhancement

#584 Desktop release v0.4.1
  src/desktop/package.json
  src/desktop/src/ui/global/About.js
Labels: C - Desktop, Release

#592 Update Yarn lockfiles and NPM shrinkwrap, delete NPM lockfiles
  .gitignore
  package-lock.json
  src/desktop/npm-shrinkwrap.json
  src/shared/package-lock.json
  yarn.lock
Labels: C - Desktop, C - Shared, T - Meta

#588 Make sure we check a node is fully synced before every operation that…
  src/mobile/src/libs/progressSteps.js
  src/shared/__tests__/actions/transfers.spec.js
  src/shared/__tests__/libs/iota/addresses.spec.js
  src/shared/__tests__/libs/iota/utils.spec.js
  src/shared/actions/alerts.js
  src/shared/actions/settings.js
  src/shared/actions/transfers.js
  src/shared/actions/wallet.js
  src/shared/containers/wallet/Send.js
  src/shared/libs/iota/accounts.js
  src/shared/libs/iota/utils.js
  src/shared/locales/en/translation.json
Labels: C - Shared, E - Functional, E - Refactor, L - Need reviews, P3 - Medium

#596 Fix audit script [ci skip]
  src/desktop/package.json
  src/mobile/package.json
  src/shared/package.json
Labels: P2 - High, T - Meta

#587 Persist account information during account setup
  src/desktop/src/ui/Index.js
  src/desktop/src/ui/components/input/Seed.js
  src/desktop/src/ui/global/Polling.js
  src/desktop/src/ui/global/seedStore/Ledger.js
  src/desktop/src/ui/views/onboarding/AccountName.js
  src/desktop/src/ui/views/onboarding/AccountPassword.js
  src/desktop/src/ui/views/onboarding/Index.js
  src/desktop/src/ui/views/onboarding/Login.js
  src/desktop/src/ui/views/onboarding/SeedIntro.js
  src/desktop/src/ui/views/onboarding/SeedSave.js
  src/desktop/src/ui/views/onboarding/SeedVerify.js
  src/desktop/src/ui/views/onboarding/seedStore/Ledger.js
  src/mobile/__tests__/ui/views/onboarding/SetAccountName.spec.js
  src/mobile/src/ui/components/Poll.js
  src/mobile/src/ui/views/onboarding/EnterSeed.js
  src/mobile/src/ui/views/onboarding/SetAccountName.js
  src/mobile/src/ui/views/onboarding/SetPassword.js
  src/mobile/src/ui/views/wallet/Loading.js
  src/mobile/src/ui/views/wallet/UseExistingSeed.js
  src/shared/__tests__/reducers/accounts.spec.js
  src/shared/__tests__/reducers/wallet.spec.js
  src/shared/__tests__/selectors/accounts.spec.js
  src/shared/actions/accounts.js
  src/shared/actions/wallet.js
  src/shared/reducers/accounts.js
  src/shared/reducers/wallet.js
  src/shared/selectors/accounts.js
  src/shared/store.js
Labels: C - Desktop, C - Mobile, C - Shared, E - Functional, L - Need reviews, P2 - High, T - Bug

#600 Add auto migration from AsyncStorage to Realm storage
  src/mobile/src/libs/progressSteps.js
  src/mobile/src/libs/store.js
  src/mobile/src/ui/components/Migration.js
  src/mobile/src/ui/routes/entry.js
  src/mobile/src/ui/routes/navigation.js
  src/mobile/src/ui/views/wallet/Login.js
  src/shared/actions/migrations.js
  src/shared/actions/wallet.js
  src/shared/libs/errors.js
  src/shared/libs/migrations.js
  src/shared/locales/en/translation.json
  src/shared/reducers/settings.js
  src/shared/schema/index.js
  src/shared/storage/index.js
Labels: C - Mobile, C - Shared, E - Functional, L - Need reviews

#598 Fix condition on spend status in libs/iota/removeUnusedAddresses
  src/shared/__tests__/libs/iota/addresses.spec.js
  src/shared/libs/iota/addresses.js
Labels: C - Shared, E - Functional, T - Bug

#602 Shared: Add indicator for over 81 char on seed field
  src/desktop/src/ui/components/input/Seed.js
  src/desktop/src/ui/views/onboarding/SeedVerify.js
  src/mobile/src/ui/components/CustomTextInput.js
  src/mobile/src/ui/views/onboarding/EnterSeed.js
Labels: C - Desktop, C - Mobile

#601 Desktop: Disallow Node.js runtime debugging mode
  src/desktop/main.js
Labels: C - Desktop

#610 Desktop: Terminate application if Remote Debugging Port is detected
  src/desktop/main.js
Labels: C - Desktop

#609 Desktop: Require manual address generation
  src/desktop/src/ui/views/onboarding/AccountName.js
  src/desktop/src/ui/views/wallet/Receive.js
  src/desktop/src/ui/views/wallet/receive.scss
  src/shared/__tests__/reducers/ui.spec.js
  src/shared/locales/en/translation.json
  src/shared/reducers/ui.js
Labels: C - Desktop, E - UI/UX

#613 Desktop release v0.4.2
  src/desktop/package.json
  src/desktop/src/ui/global/About.js
Labels: C - Desktop, Release

#608 Mobile: Require manual address generation
  src/mobile/package.json
  src/mobile/src/ui/views/wallet/Receive.js
  src/shared/__tests__/reducers/ui.spec.js
  src/shared/locales/en/translation.json
Labels: C - Mobile, E - UI/UX

#420 Desktop: Change auto-update URL to S3 bucket
  src/desktop/package.json
Labels: C - Desktop, L - Need reviews, T - Meta

#607 Mobile release v0.5.1 (28)
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
Labels: C - Mobile, Release

#611 Auto retry on different nodes when account sync is performed during p…
  src/shared/actions/polling.js
Labels: C - Shared, E - Functional, L - Need reviews, T - Enhancement

#615 Mobile: Fix blocked UI on receive page
  src/desktop/npm-shrinkwrap.json
  src/mobile/src/ui/views/wallet/Receive.js
  src/shared/__tests__/reducers/ui.spec.js
  src/shared/actions/ui.js
  src/shared/reducers/ui.js
Labels: C - Mobile, E - UI/UX, T - Bug

#616 Mobile release v0.5.1 (29)
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
Labels: C - Mobile, Release

#626 Mobile: Fix failing tests
  src/mobile/__tests__/ui/components/HistoryModalContent.spec.js
  src/mobile/__tests__/ui/components/SimpleTransactionRow.spec.js
  src/mobile/__tests__/ui/views/wallet/AdvancedSettings.spec.js
  src/mobile/__tests__/ui/views/wallet/MainSettings.spec.js
  src/mobile/whitelist.json
Labels: C - Mobile, L - Need reviews

#623 Mobile: Upgrade nodejs-mobile-react-native to 0.3.2
  src/mobile/package.json
  src/mobile/yarn.lock
Labels: C - Mobile, E - Functional, L - Need reviews

#628 Shared: Fix failing tests
  src/shared/__tests__/middlewares/network.spec.js
  src/shared/middlewares/network.js
Labels: C - Shared, L - Need reviews

#629 TestFlight tester removal script
  src/mobile/android/Gemfile.lock
  src/mobile/ios/Gemfile.lock
  src/mobile/ios/fastlane/Fastfile
  src/mobile/ios/fastlane/Pluginfile
  src/mobile/ios/fastlane/README.md
Labels: C - Mobile, T - Meta

#630 Upgrade Snyk and whitelist vulnerability
  src/desktop/whitelist.json
  src/mobile/package.json
  src/mobile/whitelist.json
  src/mobile/yarn.lock
  src/shared/whitelist.json
  yarn.lock
Labels: C - Shared, T - Meta

#636 fixes #635
  src/mobile/android/app/src/main/java/com/iota/trinity/MainApplication.java
  src/mobile/package.json
  src/mobile/yarn.lock
Labels: C - Mobile, P - Android

#634 Update desktop blacklist
  src/desktop/npm-shrinkwrap.json
  src/shared/libs/versions.json
Labels: C - Shared

#641 Mobile: Whitelist dependency
  src/mobile/whitelist.json
Labels: C - Mobile, T - Meta

#648 Desktop: Add network proxy ignore setting
  src/desktop/main.js
  src/desktop/src/ui/components/modal/Confirm.js
  src/desktop/src/ui/global/Alerts.js
  src/desktop/src/ui/views/onboarding/Login.js
  src/desktop/src/ui/views/settings/Advanced.js
  src/shared/__tests__/reducers/settings.spec.js
  src/shared/actions/settings.js
  src/shared/locales/en/translation.json
  src/shared/reducers/settings.js
Labels: C - Desktop, T - Bug, T - Enhancement

#652 Desktop release 0.4.3
  src/desktop/package.json
  src/desktop/src/ui/global/About.js
Labels: C - Desktop, Release

#663 Desktop: Update Electron version
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
Labels: C - Desktop

#666 Desktop: Empty settings initialisation fix
  src/desktop/main.js
Labels: C - Desktop

#638 Mobile/iOS: Add api_key parameter to dSYM upload script [ci skip]
  src/mobile/ios/fastlane/Fastfile
Labels: C - Mobile, P - iOS, T - Meta

#670 Mobile release v0.6.0 (29)
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
  src/mobile/package.json
  src/shared/libs/versions.json
Labels: C - Mobile, Release
