Repository iotaledger/trinity-wallet, pull requests merged in 2018-12, with the labels that each got.

#689 Privacy Policy Minor Typo Fix
  src/shared/markdown/enPrivacyPolicyAndroid.js
  src/shared/markdown/enPrivacyPolicyIOS.js
Labels: C - Shared

#674 Desktop: Add es6 imports to main process
  src/desktop/assets/icon.png
  src/desktop/assets/trayTemplate@2x.png
  src/desktop/main.js
  src/desktop/native/Entangled.js
  src/desktop/native/Menu.js
  src/desktop/native/hardware/Ledger.js
  src/desktop/native/kdbx.js
  src/desktop/native/preload/Electron.js
  src/desktop/native/preload/development.js
  src/desktop/native/preload/production.js
  src/desktop/native/preload/tray.js
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
  src/desktop/server.js
  src/desktop/src/libs/SeedStore/Keychain.js
  src/desktop/src/libs/helpers.js
  src/desktop/src/ui/Tray.js
  src/desktop/src/ui/components/Dropzone.js
  src/desktop/src/ui/components/SeedPrint.js
  src/desktop/src/ui/components/input/Seed.js
  src/desktop/src/ui/views/account/Seed.js
  src/desktop/src/ui/views/onboarding/Login.js
  src/desktop/src/ui/views/onboarding/SeedGenerate.js
  src/desktop/src/ui/views/onboarding/SeedSaveWrite.js
  src/desktop/src/ui/views/wallet/Dashboard.js
  src/desktop/src/ui/views/wallet/Receive.js
  src/desktop/src/ui/views/wallet/Sidebar.js
  src/desktop/webpack.config/config.app.js
  src/desktop/webpack.config/config.development.js
  src/desktop/webpack.config/config.main.js
  src/desktop/webpack.config/config.production.js
Labels: C - Desktop, E - Refactor

#690 Shared: Fix proxyExplanation string
  src/shared/locales/en/translation.json
Labels: E - UI/UX, L - Need reviews

#694 Desktop: Allow wallet window resize on top edge
  src/desktop/src/ui/global/titlebar.scss
Labels: C - Desktop, T - Enhancement

#688 Desktop: Patch react-qr-reader
  src/desktop/package.json
  src/desktop/patches/react-qr-reader+2.1.1.patch
Labels: C - Desktop, E - Functional, L - Need reviews, T - Bug

#704 Desktop: Fix menu button color on light themes
  src/desktop/src/ui/Index.js
  src/desktop/src/ui/global/Titlebar.js
  src/desktop/src/ui/global/titlebar.scss
Labels: C - Desktop, E - UI/UX

#693 Desktop: Update password for all account types
  src/desktop/src/ui/views/settings/Password.js
Labels: C - Desktop, T - Bug

#705 Desktop: Highlight address checksum on all views
  src/desktop/package.json
  src/desktop/src/ui/components/Checksum.js
  src/desktop/src/ui/components/List.js
  src/desktop/src/ui/components/input/Address.js
  src/desktop/src/ui/components/input/input.scss
  src/desktop/src/ui/components/list.scss
  src/desktop/src/ui/components/modal/modal.scss
  src/desktop/src/ui/style/_reset.scss
  src/desktop/src/ui/views/account/Addresses.js
  src/desktop/src/ui/views/account/addresses.scss
  src/desktop/src/ui/views/wallet/Send.js
  src/desktop/src/ui/views/wallet/send.scss
Labels: C - Desktop, E - UI/UX

#692 Desktop: Check for a unique seed for keychain type accounts
  src/desktop/src/libs/SeedStore/Keychain.js
  src/desktop/src/ui/views/onboarding/SeedVerify.js
Labels: C - Desktop, T - Bug

#710 Desktop: Update entangled-node to latest version
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
Labels: C - Desktop, L - Need reviews, T - Bug

#711 Desktop: Drag-and-drop localization fixes and improvements
  src/desktop/src/ui/components/Dropzone.js
  src/desktop/src/ui/components/input/Seed.js
  src/shared/locales/en/translation.json
Labels: C - Desktop, E - UI/UX, L - Need reviews, T - Enhancement

#763 Preserve order of themes via indexes in ThemeCustomisation component
  src/mobile/src/ui/views/wallet/ThemeCustomisation.js
Labels: C - Mobile, L - Need reviews, T - Bug

#624 Mobile: Fixes SeedVault and SafeAreaView on iPhone XS variants
  src/mobile/src/ui/components/TransferConfirmationModal.js
  src/mobile/src/ui/views/wallet/DeleteAccount.js
  src/mobile/src/ui/views/wallet/Send.js
  src/mobile/yarn.lock
  src/shared/locales/en/translation.json
  src/shared/reducers/wallet.js
Labels: C - Mobile

#765 Desktop: Update Seed write down view `Done` locale to `Back`
  src/desktop/src/ui/views/onboarding/SeedSaveWrite.js
Labels: C - Desktop, E - UI/UX

#719 Mobile: Handle error if permissions are denied on SeedVault import
  src/mobile/src/ui/components/SeedVaultImportComponent.js
  src/shared/locales/en/translation.json
Labels: C - Mobile, E - Functional, L - Need reviews, T - Bug

#718 Localization improvements
  src/desktop/main.js
  src/desktop/native/Menu.js
  src/desktop/src/ui/components/List.js
  src/desktop/src/ui/views/account/Tools.js
  src/mobile/src/ui/views/wallet/SnapshotTransition.js
  src/shared/locales/en/translation.json
Labels: C - Desktop, C - Mobile, C - Shared, E - UI/UX, L - Need reviews, T - Enhancement

#764 Desktop: Add two-factor authorisation to Password modal
  src/desktop/src/ui/components/modal/Password.js
  src/desktop/src/ui/global/Idle.js
Labels: C - Desktop, E - Security

#770 Mobile: Fix failing tests
  src/mobile/__tests__/ui/views/onboarding/SetAccountName.spec.js
  src/mobile/__tests__/ui/views/wallet/TwoFactorSetupAddKey.spec.js
Labels: C - Mobile, L - Need reviews

#715 Assign account index to accounts in state
  src/desktop/src/index.js
  src/mobile/src/ui/routes/entry.js
  src/shared/__tests__/actions/accounts.spec.js
  src/shared/__tests__/reducers/accounts.spec.js
  src/shared/__tests__/selectors/accounts.spec.js
  src/shared/actions/accounts.js
  src/shared/reducers/accounts.js
  src/shared/selectors/accounts.js
Labels: C - Shared, L - Need reviews, T - Bug

#771 Mobile: Fix minor bugs
  src/desktop/src/ui/components/modal/Password.js
  src/desktop/src/ui/global/Idle.js
  src/mobile/package.json
  src/mobile/src/ui/components/MultiTextInput.js
  src/mobile/src/ui/components/SeedVaultExportComponent.js
  src/mobile/src/ui/routes/entry.js
  src/mobile/src/ui/views/onboarding/EnterSeed.js
  src/mobile/src/ui/views/onboarding/LanguageSetup.js
  src/mobile/src/ui/views/onboarding/NewSeedSetup.js
  src/mobile/src/ui/views/onboarding/OnboardingComplete.js
  src/mobile/src/ui/views/onboarding/PrivacyPolicy.js
  src/mobile/src/ui/views/onboarding/SaveSeedConfirmation.js
  src/mobile/src/ui/views/onboarding/SaveYourSeed.js
  src/mobile/src/ui/views/onboarding/SeedReentry.js
  src/mobile/src/ui/views/onboarding/SetAccountName.js
  src/mobile/src/ui/views/onboarding/SetPassword.js
  src/mobile/src/ui/views/onboarding/TermsAndConditions.js
  src/mobile/src/ui/views/onboarding/WalletSetup.js
  src/mobile/src/ui/views/wallet/AddNewAccount.js
  src/mobile/src/ui/views/wallet/AdvancedSettings.js
  src/mobile/src/ui/views/wallet/ForceChangePassword.js
  src/mobile/src/ui/views/wallet/Loading.js
  src/mobile/src/ui/views/wallet/Login.js
  src/mobile/src/ui/views/wallet/MainSettings.js
  src/mobile/src/ui/views/wallet/SecuritySettings.js
  src/mobile/src/ui/views/wallet/TwoFactorSetupAddKey.js
  src/mobile/src/ui/views/wallet/TwoFactorSetupEnterToken.js
  src/mobile/src/ui/views/wallet/UseExistingSeed.js
  src/mobile/src/ui/views/wallet/WalletResetConfirmation.js
  src/mobile/src/ui/views/wallet/WalletResetRequirePassword.js
  src/mobile/yarn.lock
  src/shared/locales/en/translation.json
Labels: C - Mobile, T - Bug

#777 Finalise Realm instantiation
  src/desktop/native/Realm.js
  src/desktop/native/preload/Electron.js
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
  src/mobile/ios/iotaWallet/AppDelegate.m
  src/mobile/package.json
  src/mobile/src/ui/routes/entry.js
  src/mobile/yarn.lock
  src/shared/__tests__/actions/transfers.spec.js
  src/shared/__tests__/storage/node.spec.js
  src/shared/config.js
  src/shared/libs/originalRequire.js
  src/shared/package.json
  src/shared/storage/index.js
  src/shared/yarn.lock
Labels: C - Desktop, C - Mobile, C - Shared, E - Functional, L - Need reviews

#772 Desktop: Update paste alert functionality and update strings
  src/desktop/npm-shrinkwrap.json
  src/desktop/src/ui/components/input/Seed.js
  src/desktop/src/ui/views/onboarding/SeedVerify.js
  src/shared/locales/en/translation.json
Labels: C - Desktop, T - Enhancement

#703 Desktop: Unified settings view
  src/desktop/native/Menu.js
  src/desktop/src/ui/Index.js
  src/desktop/src/ui/global/Titlebar.js
  src/desktop/src/ui/views/account/Addresses.js
  src/desktop/src/ui/views/account/Index.js
  src/desktop/src/ui/views/settings/Advanced.js
  src/desktop/src/ui/views/settings/Currency.js
  src/desktop/src/ui/views/settings/Index.js
  src/desktop/src/ui/views/settings/Language.js
  src/desktop/src/ui/views/settings/Mode.js
  src/desktop/src/ui/views/settings/Node.js
  src/desktop/src/ui/views/settings/Password.js
  src/desktop/src/ui/views/settings/Theme.js
  src/desktop/src/ui/views/settings/TwoFA.js
  src/desktop/src/ui/views/settings/account/Addresses.js
  src/desktop/src/ui/views/settings/account/Name.js
  src/desktop/src/ui/views/settings/account/Remove.js
  src/desktop/src/ui/views/settings/account/Seed.js
  src/desktop/src/ui/views/settings/account/Tools.js
  src/desktop/src/ui/views/settings/account/addresses.scss
  src/desktop/src/ui/views/settings/account/seed.scss
  src/desktop/src/ui/views/settings/index.scss
  src/desktop/src/ui/views/wallet/Sidebar.js
  src/shared/locales/en/translation.json
  src/shared/themes/themes/Classic.js
  src/shared/themes/themes/Contemporary.js
  src/shared/themes/themes/Dark.js
  src/shared/themes/themes/Default.js
  src/shared/themes/themes/Electric.js
  src/shared/themes/themes/Ionic.js
  src/shared/themes/themes/Light.js
  src/shared/themes/themes/Mint.js
  src/shared/themes/themes/SteelBlue.js
Labels: C - Desktop, L - Need reviews, T - Enhancement

#779 Desktop: Update Linux related assets, documentation and errors
  src/desktop/README.md
  src/desktop/assets/icon.png
  src/desktop/src/ui/Index.js
  src/desktop/src/ui/global/FatalError.js
Labels: C - Desktop, E - Documentation, E - UI/UX

#774 Disable Greenkeeper [ci skip]
  greenkeeper.json
Labels: C - Shared, T - Meta

#781 Mobile: Fix QR Scanner and add haptic feedback
  src/mobile/__tests__/ui/components/QrScanner.spec.js
  src/mobile/android/app/build.gradle
  src/mobile/android/app/src/main/java/com/iota/trinity/MainApplication.java
  src/mobile/android/settings.gradle
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/package.json
  src/mobile/src/ui/components/ProgressBar.js
  src/mobile/src/ui/components/QrScanner.js
  src/mobile/src/ui/components/Slider.js
  src/mobile/src/ui/views/onboarding/OnboardingComplete.js
  src/mobile/src/ui/views/wallet/Loading.js
  src/mobile/src/ui/views/wallet/Settings.js
  src/mobile/src/ui/views/wallet/UseExistingSeed.js
  src/mobile/yarn.lock
  src/shared/animations/balloons-white.json
  src/shared/animations/welcome-black.json
  src/shared/animations/welcome-part-one-black.json
  src/shared/animations/welcome-part-one-white.json
  src/shared/animations/welcome-part-two-black.json
  src/shared/animations/welcome-part-two-white.json
  src/shared/animations/welcome-white.json
Labels: C - Mobile, T - Bug

#776 Mobile release v0.6.0 (30)
  src/mobile/android/Gemfile.lock
  src/mobile/android/app/build.gradle
  src/mobile/ios/Gemfile.lock
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
Labels: C - Mobile, Release

#785 Mobile/iOS: Unlink react-native-permissions [ci skip]
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
Labels: C - Mobile, P - iOS, T - Bug

#787 Mobile: Readd progress bar and fix orientation
  src/mobile/src/ui/components/OldProgressBar.js
  src/mobile/src/ui/routes/entry.js
  src/mobile/src/ui/views/onboarding/EnterSeed.js
  src/mobile/src/ui/views/onboarding/LanguageSetup.js
  src/mobile/src/ui/views/onboarding/NewSeedSetup.js
  src/mobile/src/ui/views/onboarding/OnboardingComplete.js
  src/mobile/src/ui/views/onboarding/PrivacyPolicy.js
  src/mobile/src/ui/views/onboarding/SaveSeedConfirmation.js
  src/mobile/src/ui/views/onboarding/SaveYourSeed.js
  src/mobile/src/ui/views/onboarding/SeedReentry.js
  src/mobile/src/ui/views/onboarding/SetAccountName.js
  src/mobile/src/ui/views/onboarding/SetPassword.js
  src/mobile/src/ui/views/onboarding/TermsAndConditions.js
  src/mobile/src/ui/views/onboarding/WalletSetup.js
  src/mobile/src/ui/views/onboarding/WriteSeedDown.js
  src/mobile/src/ui/views/wallet/AddNewAccount.js
  src/mobile/src/ui/views/wallet/AdvancedSettings.js
  src/mobile/src/ui/views/wallet/ForceChangePassword.js
  src/mobile/src/ui/views/wallet/Loading.js
  src/mobile/src/ui/views/wallet/Login.js
  src/mobile/src/ui/views/wallet/MainSettings.js
  src/mobile/src/ui/views/wallet/SecuritySettings.js
  src/mobile/src/ui/views/wallet/SnapshotTransition.js
  src/mobile/src/ui/views/wallet/TwoFactorSetupAddKey.js
  src/mobile/src/ui/views/wallet/TwoFactorSetupEnterToken.js
  src/mobile/src/ui/views/wallet/UseExistingSeed.js
  src/mobile/src/ui/views/wallet/WalletResetConfirmation.js
  src/mobile/src/ui/views/wallet/WalletResetRequirePassword.js
Labels: C - Mobile, T - Bug

#788 Mobile: Bump build number for release v0.6.0 (31) [ci skip]
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
Labels: C - Mobile, Release

#792 Desktop: Dependencies update
  src/desktop/native/hardware/Ledger.js
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
  src/desktop/src/ui/components/icon.scss
  src/desktop/src/ui/style/_typography.scss
Labels: C - Desktop

#700 Desktop: Fix incomplete account addition
  src/desktop/src/ui/Index.js
  src/desktop/src/ui/views/onboarding/AccountName.js
  src/desktop/src/ui/views/onboarding/AccountPassword.js
  src/desktop/src/ui/views/onboarding/Index.js
  src/desktop/src/ui/views/onboarding/Login.js
  src/desktop/src/ui/views/onboarding/SeedVerify.js
  src/mobile/__tests__/ui/views/onboarding/SetAccountName.spec.js
  src/mobile/src/ui/views/onboarding/SetAccountName.js
  src/mobile/src/ui/views/wallet/UseExistingSeed.js
  src/shared/__tests__/reducers/accounts.spec.js
  src/shared/__tests__/selectors/accounts.spec.js
  src/shared/reducers/accounts.js
  src/shared/selectors/accounts.js
Labels: C - Desktop, L - Need reviews, T - Bug

#794 Desktop: Fix incorrect Settings view prop names
  src/desktop/src/ui/views/settings/account/Name.js
  src/desktop/src/ui/views/settings/account/Remove.js
Labels: C - Desktop

#795 Desktop release 0.4.4
  src/desktop/package.json
  src/desktop/src/ui/global/About.js
Labels: C - Desktop, Release

#797 Desktop: Trinity Desktop 0.4.4 version bump
  src/shared/libs/versions.json
Labels: C - Desktop

#799 Desktop: Fix crash when sending
  src/shared/__tests__/reducers/progress.spec.js
  src/shared/reducers/progress.js
Labels: C - Desktop, L - Need reviews, P2 - High, T - Bug

#803 Desktop: On unique seed check if target seed exists
  src/desktop/src/libs/SeedStore/Keychain.js
Labels: C - Desktop, T - Bug

#804 Desktop: Fix whatIsAChecksum string
  src/desktop/src/ui/views/onboarding/SeedSaveWrite.js
Labels: C - Desktop, E - UI/UX

#809 Mobile: Fix bar colours
  src/mobile/src/ui/components/Tabs.js
  src/mobile/src/ui/components/TopBar.js
  src/mobile/src/ui/theme/general.js
  src/mobile/src/ui/views/wallet/Loading.js
  src/mobile/src/ui/views/wallet/ThemeCustomisation.js
  src/mobile/src/ui/views/wallet/TwoFactorSetupEnterToken.js
Labels: C - Mobile, T - Bug

#813 Desktop release 0.4.5
  src/desktop/package.json
  src/desktop/src/ui/global/About.js
Labels: C - Desktop, Release

#814 Desktop: Trinity Desktop 0.4.5 version bump
  src/shared/libs/versions.json
Labels: C - Desktop

#810 Reset node list on state migration
  src/desktop/npm-shrinkwrap.json
  src/desktop/src/index.js
  src/mobile/src/libs/store.js
  src/shared/__tests__/reducers/settings.spec.js
  src/shared/actions/settings.js
  src/shared/libs/utils.js
  src/shared/reducers/settings.js
Labels: C - Mobile, C - Shared, E - Functional, T - Enhancement

#807 Mobile release v0.5.1 (32)
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
Labels: C - Mobile, Release

#806 Backport fixes to mobile v0.5.1
  src/mobile/src/libs/store.js
  src/shared/__tests__/actions/transfers.spec.js
  src/shared/__tests__/libs/iota/extendedApi.spec.js
  src/shared/__tests__/libs/iota/utils.spec.js
  src/shared/actions/accounts.js
  src/shared/actions/alerts.js
  src/shared/actions/settings.js
  src/shared/actions/transfers.js
  src/shared/actions/wallet.js
  src/shared/libs/errors.js
  src/shared/libs/iota/accounts.js
  src/shared/libs/iota/extendedApi.js
  src/shared/libs/iota/utils.js
  src/shared/libs/utils.js
  src/shared/locales/ar/translation.json
  src/shared/locales/bg/translation.json
  src/shared/locales/cs/translation.json
  src/shared/locales/da/translation.json
  src/shared/locales/de/translation.json
  src/shared/locales/el/translation.json
  src/shared/locales/en/translation.json
  src/shared/locales/es-ES/translation.json
  src/shared/locales/es-LA/translation.json
  src/shared/locales/et/translation.json
  src/shared/locales/fa/translation.json
  src/shared/locales/fi/translation.json
  src/shared/locales/fr/translation.json
  src/shared/locales/he/translation.json
  src/shared/locales/hi/translation.json
  src/shared/locales/hr/translation.json
  src/shared/locales/hu/translation.json
  src/shared/locales/id/translation.json
  src/shared/locales/it/translation.json
  src/shared/locales/ja/translation.json
  src/shared/locales/ka/translation.json
  src/shared/locales/kn/translation.json
  src/shared/locales/ko/translation.json
  src/shared/locales/lt/translation.json
  src/shared/locales/lv/translation.json
  src/shared/locales/nl/translation.json
  src/shared/locales/no/translation.json
  src/shared/locales/pl/translation.json
  src/shared/locales/pt-BR/translation.json
  src/shared/locales/pt-PT/translation.json
  src/shared/locales/ro/translation.json
  src/shared/locales/ru/translation.json
  src/shared/locales/sk/translation.json
  src/shared/locales/sl/translation.json
  src/shared/locales/sr/translation.json
  src/shared/locales/sv-SE/translation.json
  src/shared/locales/ta/translation.json
  src/shared/locales/th/translation.json
  src/shared/locales/tr/translation.json
  src/shared/locales/ur/translation.json
  src/shared/locales/vi/translation.json
  src/shared/locales/zh-CN/translation.json
  src/shared/locales/zh-TW/translation.json
Labels: C - Mobile

#631 Node Quorum
  src/desktop/npm-shrinkwrap.json
  src/desktop/src/ui/Index.js
  src/desktop/src/ui/components/Balance.js
  src/desktop/src/ui/views/onboarding/AccountName.js
  src/desktop/src/ui/views/onboarding/AccountPassword.js
  src/desktop/src/ui/views/onboarding/Index.js
  src/desktop/src/ui/views/onboarding/SeedVerify.js
  src/desktop/src/ui/views/settings/Advanced.js
  src/desktop/src/ui/views/settings/Index.js
  src/desktop/src/ui/views/settings/Language.js
  src/desktop/src/ui/views/settings/Mode.js
  src/desktop/src/ui/views/settings/Password.js
  src/desktop/src/ui/views/settings/Theme.js
  src/desktop/src/ui/views/settings/TwoFA.js
  src/desktop/src/ui/views/settings/account/Name.js
  src/desktop/src/ui/views/settings/account/Remove.js
  src/desktop/src/ui/views/settings/account/Seed.js
  src/desktop/src/ui/views/settings/account/Tools.js
  src/desktop/src/ui/views/wallet/Sidebar.js
  src/mobile/__tests__/ui/views/onboarding/SetAccountName.spec.js
  src/mobile/android/Gemfile.lock
  src/mobile/src/ui/views/onboarding/SetAccountName.js
  src/mobile/yarn.lock
  src/shared/__tests__/__samples__/transactions.js
  src/shared/__tests__/__samples__/trytes.js
  src/shared/__tests__/actions/transfers.spec.js
  src/shared/__tests__/libs/iota/addresses.spec.js
  src/shared/__tests__/libs/iota/inputs.spec.js
  src/shared/__tests__/libs/iota/quorum.spec.js
  src/shared/__tests__/libs/iota/recovery.spec.js
  src/shared/__tests__/libs/iota/transfers.spec.js
  src/shared/__tests__/selectors/accounts.spec.js
  src/shared/actions/alerts.js
  src/shared/actions/polling.js
  src/shared/config.js
  src/shared/containers/components/List.js
  src/shared/libs/errors.js
  src/shared/libs/iota/extendedApi.js
  src/shared/libs/iota/index.js
  src/shared/libs/iota/quorum.js
  src/shared/libs/utils.js
  src/shared/locales/cs/translation.json
  src/shared/locales/es-ES/translation.json
  src/shared/locales/ja/translation.json
  src/shared/package.json
  src/shared/reducers/accounts.js
  src/shared/selectors/accounts.js
  src/shared/yarn.lock
  yarn.lock
Labels: C - Shared, E - Functional, E - Security, L - WIP, T - Enhancement

#808 Mobile release v0.6.0 (33)
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
Labels: C - Mobile, Release

#839 Desktop release 0.4.6
  src/desktop/package.json
  src/desktop/src/ui/global/About.js
Labels: C - Desktop, Release

#840 Desktop: Current version bump
  src/shared/libs/versions.json
Labels: C - Desktop, Release

#842 Shared: Rebuild realm after installing dependencies
  src/shared/package.json
Labels: C - Shared, P2 - High, T - Bug

#855 Fix frozen splash screen issue on android
  src/mobile/src/libs/store.js
Labels: C - Mobile, E - Functional, L - Need reviews, P - Android, T - Bug

#853 Use Node HOC for AddCustomNode component (mobile)
  src/mobile/__tests__/ui/views/wallet/AddCustomNode.spec.js
  src/mobile/src/ui/components/SettingsContent.js
  src/mobile/src/ui/views/wallet/AddCustomNode.js
  src/mobile/src/ui/views/wallet/NodeOptionsOnLogin.js
  src/shared/containers/settings/Node.js
Labels: C - Mobile, E - Refactor, L - Need reviews, T - Enhancement

#841 Ensure multi account info polling on mobile
  src/desktop/src/ui/global/Polling.js
  src/mobile/__tests__/ui/components/Poll.spec.js
  src/mobile/src/ui/components/Poll.js
  src/shared/__tests__/reducers/accounts.spec.js
  src/shared/__tests__/reducers/polling.spec.js
  src/shared/actions/polling.js
  src/shared/reducers/accounts.js
  src/shared/reducers/polling.js
Labels: C - Mobile, C - Shared, L - Need reviews, T - Enhancement

#856 Mobile: Refactor Gemfiles so that Dependabot can fully parse them
  src/mobile/android/Gemfile
  src/mobile/ios/Gemfile
Labels: C - Mobile, E - Refactor, L - Need reviews, T - Meta

#858 Fix byteTrit check
  src/desktop/npm-shrinkwrap.json
  src/desktop/src/ui/views/wallet/Index.js
Labels: C - Desktop, E - Security, L - Need reviews, P1 - Critical, T - Bug

#849 Validate https default port for custom nodes
  src/shared/containers/settings/Node.js
Labels: C - Desktop, C - Mobile, L - Need reviews

#865 Update 2FA wrong code error string
  src/shared/locales/en/translation.json
Labels: C - Shared, E - UI/UX, T - Enhancement

#864 Fixed some hardcoded strings
  src/mobile/src/ui/views/wallet/Disable2FA.js
Labels: C - Mobile, E - UI/UX
