Repository iotaledger/trinity-wallet, pull requests merged in 2019-07, with the labels that each got.

#1891 fix: update local state quorum size to match default quorum size
  src/mobile/src/ui/views/wallet/NodeSettings.js
Labels: C - Mobile, L - Need reviews

#1787 Desktop: Add language detection to onboarding
  src/desktop/__tests__/ui/views/onboarding/welcome.test.jsx
  src/desktop/src/ui/views/onboarding/Welcome.js
  src/shared/libs/i18n.js
Labels: C - Desktop, L - Need reviews, T - Enhancement

#1892 Desktop: Entangled improvements
  src/desktop/native/libs/Entangled.js
Labels: C - Desktop, L - Need reviews, P2 - High, T - Enhancement

#1899 Desktop: Version bump and changelog update
  src/desktop/package.json
  src/desktop/src/ui/global/About.js
  src/shared/libs/versions.json
Labels: Release

#1907 Desktop: Update dependencies
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
Labels: C - Desktop, L - Need reviews, dependencies

#1911 Resolve js-yaml to >=3.13.1
  package.json
  src/mobile/package.json
  src/mobile/yarn.lock
  yarn.lock
Labels: L - Need reviews

#1908 Desktop: Move Changelog to CHANGELOG.md
  src/desktop/CHANGELOG.md
  src/desktop/__mocks__/markdownMock.js
  src/desktop/__tests__/ui/global/__snapshots__/about.test.jsx.snap
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
  src/desktop/src/ui/global/About.js
  src/desktop/src/ui/global/about.scss
  src/desktop/webpack.config/config.app.js
Labels: C - Desktop, E - Refactor, L - Need reviews

#1912 Desktop: Update min/max functionality on type `Number` inputs
  src/desktop/__tests__/ui/components/input/number.test.jsx
  src/desktop/src/ui/components/input/Number.js
  src/desktop/src/ui/views/onboarding/seedStore/Ledger.js
Labels: C - Desktop, L - Need reviews, T - Bug

#1913 Shared: Fix old storage data schema update
  src/shared/schemas/index.js
Labels: C - Shared, L - Need reviews, T - Bug

#1910 Desktop: Fix password change with Ledger accounts only
  src/desktop/src/ui/views/settings/Password.js
Labels: C - Desktop, L - Need reviews, T - Bug

#1929 Desktop: Fix cannot login when node auto-switching disabled
  src/shared/schemas/index.js
Labels: C - Desktop, T - Bug

#1928 Desktop: Hide Retry button in macOS tray application
  src/desktop/src/ui/components/list.scss
Labels: C - Desktop, E - UI/UX, L - Need reviews, T - Bug

#1935 fix: use default export for Letter component
  src/mobile/src/ui/components/TextWithLetterSpacing.js
Labels: C - Mobile, P2 - High, T - Bug

#1937 Update lockfile
  yarn.lock
Labels: L - Need reviews

#1951 Shared: Add localisation of balance and comma separators
  src/desktop/src/ui/components/Balance.js
  src/mobile/src/ui/views/wallet/Balance.js
  src/shared/libs/currency.js
Labels: C - Shared, L - Need reviews

#1961 Update issue and feature request templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: E - Documentation, L - Need reviews

#1970 Desktop: Fix zero fiat balance on Mac tray app
  src/desktop/src/index.js
  src/desktop/src/ui/global/Polling.js
  src/desktop/src/ui/views/wallet/Dashboard.js
Labels: C - Desktop, L - Need reviews, T - Bug

#1973 Desktop: Update desktop dependencies
  src/desktop/__tests__/ui/components/__snapshots__/balance.test.jsx.snap
  src/desktop/__tests__/ui/components/balance.test.jsx
  src/desktop/__tests__/ui/global/__snapshots__/about.test.jsx.snap
  src/desktop/native/preload/Electron.js
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
Labels: C - Desktop, L - Need reviews, dependencies

#1999 docs: add documentation for realm migration process
  docs/dev/realm.md
Labels: E - Documentation, L - Need reviews

#1975 Shared: Update shared dependencies
  package.json
  src/desktop/src/index.js
  src/desktop/src/ui/components/Chart.js
  src/desktop/src/ui/components/List.js
  src/desktop/src/ui/global/Alerts.js
  src/desktop/src/ui/views/settings/Currency.js
  src/desktop/src/ui/views/settings/Node.js
  src/desktop/src/ui/views/wallet/Send.js
  src/mobile/src/ui/routes/entry.js
  src/mobile/testConfig.js
  src/mobile/yarn.lock
  src/shared/__tests__/beforeAll.spec.js
  src/shared/containers/components/Chart.js
  src/shared/containers/components/List.js
  src/shared/containers/global/Alerts.js
  src/shared/containers/settings/Currency.js
  src/shared/containers/settings/Node.js
  src/shared/containers/wallet/Send.js
  src/shared/libs/i18next.js
  src/shared/package.json
  src/shared/yarn.lock
  yarn.lock
Labels: C - Shared, L - Need reviews, dependencies

#2013 fix: syntax error when parsing JSON
  src/shared/actions/marketData.js
  src/shared/actions/polling.js
  src/shared/actions/settings.js
  src/shared/libs/iota/extendedApi.js
  src/shared/libs/utils.js
Labels: C - Shared, L - Need reviews, T - Bug

#1608 Bump realm to 2.29.0
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
  src/desktop/realm-patch/realm+2.23.0.patch
  src/desktop/scripts/win-realm-patch.js
  src/mobile/package.json
  src/mobile/patches/realm+2.21.1.patch
  src/mobile/yarn.lock
  src/shared/package.json
  src/shared/storage/index.js
  src/shared/yarn.lock
Labels: C - Desktop, C - Mobile, C - Shared, T - Bug, T - Enhancement, dependencies

#2038 fix: polyfill intl for android
  src/mobile/index.js
  src/mobile/package.json
  src/mobile/yarn.lock
Labels: C - Mobile, P - Android, T - Bug

#2042 Shared: Fix snapshot transition
  src/shared/actions/wallet.js
Labels: C - Shared, T - Bug

#2032 Mobile: Update Bugsnag to v2.22.0
  src/mobile/android/app/src/main/AndroidManifest.xml
  src/mobile/package.json
  src/mobile/yarn.lock
Labels: C - Mobile, L - Need reviews, T - Bug, T - Enhancement

#2017 Mobile: Update nodejs-mobile-react-native to 0.4.3
  src/mobile/package.json
  src/mobile/yarn.lock
Labels: C - Mobile, L - Need reviews, T - Enhancement

#2035 Adding Night, Changes to Dark, and editing themes
  src/shared/themes/themes/Dark.js
Labels: C - Desktop, C - Mobile, E - UI/UX, L - Need reviews, T - Enhancement
