Repository iotaledger/trinity-wallet, pull requests merged in 2019-03, with the labels that each got.

#1149 Reduce quorum size and fix failing tests
  src/shared/__tests__/libs/iota/quorum.spec.js
  src/shared/config.js
Labels: C - Shared, L - Need reviews

#1160 Update the year header to be current
  docs/copyrightHeader
Labels: C - Shared, E - Documentation

#1163 Update sinonjs to version ^7.2.7
  src/shared/package.json
  src/shared/yarn.lock
Labels: C - Shared, L - Need reviews, dependencies, javascript

#1161 Resolve node.extend package to version >=1.1.7
  package.json
  yarn.lock
Labels: E - Security, L - Need reviews, dependencies, javascript

#1157 Disable quorum on login
  src/desktop/src/ui/views/wallet/Dashboard.js
  src/mobile/src/ui/components/ManualRefresh.js
  src/shared/__tests__/libs/iota/recovery.spec.js
  src/shared/actions/accounts.js
  src/shared/actions/polling.js
  src/shared/actions/recovery.js
  src/shared/actions/transfers.js
  src/shared/actions/wallet.js
  src/shared/libs/iota/accounts.js
  src/shared/libs/iota/addresses.js
  src/shared/libs/iota/inputs.js
  src/shared/libs/iota/recovery.js
  src/shared/libs/iota/transfers.js
  src/shared/libs/iota/utils.js
Labels: C - Desktop, C - Mobile, C - Shared, E - Functional, L - Need reviews, P2 - High

#1146 Mobile: General mobile bug fixing and refactoring
  src/desktop/src/ui/views/settings/TwoFA.js
  src/mobile/android/app/src/main/assets/fonts/Icons.ttf
  src/mobile/src/libs/navigation.js
  src/mobile/src/ui/components/Dropdown.js
  src/mobile/src/ui/components/DynamicStatusBar.js
  src/mobile/src/ui/components/KeyboardMonitor.js
  src/mobile/src/ui/components/Logout.js
  src/mobile/src/ui/components/Migration.js
  src/mobile/src/ui/components/ModalComponent.js
  src/mobile/src/ui/components/ModalView.js
  src/mobile/src/ui/components/NotificationLogModal.js
  src/mobile/src/ui/components/PasswordFields.js
  src/mobile/src/ui/components/PasswordValidationModal.js
  src/mobile/src/ui/components/SafeAreaView.js
  src/mobile/src/ui/components/SeedVaultImportComponent.js
  src/mobile/src/ui/components/Slider.js
  src/mobile/src/ui/components/StatefulDropdownAlert.js
  src/mobile/src/ui/components/TabContent.js
  src/mobile/src/ui/components/TopBar.js
  src/mobile/src/ui/components/TransactionHistoryModal.js
  src/mobile/src/ui/components/TransactionRow.js
  src/mobile/src/ui/routes/entry.js
  src/mobile/src/ui/theme/general.js
  src/mobile/src/ui/views/onboarding/EnterSeed.js
  src/mobile/src/ui/views/onboarding/LanguageSetup.js
  src/mobile/src/ui/views/onboarding/NewSeedSetup.js
  src/mobile/src/ui/views/onboarding/OnboardingComplete.js
  src/mobile/src/ui/views/onboarding/PrivacyPolicy.js
  src/mobile/src/ui/views/onboarding/SaveSeedConfirmation.js
  src/mobile/src/ui/views/onboarding/SaveYourSeed.js
  src/mobile/src/ui/views/onboarding/SeedReentry.js
  src/mobile/src/ui/views/onboarding/SetAccountName.js
  src/mobile/src/ui/views/onboarding/SetPassword.js
  src/mobile/src/ui/views/onboarding/TermsAndConditions.js
  src/mobile/src/ui/views/onboarding/WalletSetup.js
  src/mobile/src/ui/views/onboarding/WriteSeedDown.js
  src/mobile/src/ui/views/wallet/AddNewAccount.js
  src/mobile/src/ui/views/wallet/AdvancedSettings.js
  src/mobile/src/ui/views/wallet/CurrencySelection.js
  src/mobile/src/ui/views/wallet/ForceChangePassword.js
  src/mobile/src/ui/views/wallet/Home.js
  src/mobile/src/ui/views/wallet/LanguageSelection.js
  src/mobile/src/ui/views/wallet/Loading.js
  src/mobile/src/ui/views/wallet/Login.js
  src/mobile/src/ui/views/wallet/NodeSelection.js
  src/mobile/src/ui/views/wallet/Receive.js
  src/mobile/src/ui/views/wallet/SecuritySettings.js
  src/mobile/src/ui/views/wallet/ThemeCustomisation.js
  src/mobile/src/ui/views/wallet/TwoFactorSetupAddKey.js
  src/mobile/src/ui/views/wallet/TwoFactorSetupEnterToken.js
  src/mobile/src/ui/views/wallet/UseExistingSeed.js
  src/mobile/src/ui/views/wallet/WalletResetConfirmation.js
  src/mobile/src/ui/views/wallet/WalletResetRequirePassword.js
  src/shared/icons/Icons.ttf
  src/shared/reducers/home.js
Labels: C - Mobile, E - Refactor, E - UI/UX, T - Bug

#1177 Assign Realm constructor within realm initialistation function
  src/shared/storage/index.js
Labels: C - Shared, L - Need reviews, T - Bug

#1174 Mobile: Fix "Realm is not a constructor" in Chrome debugger
  src/shared/storage/index.js
Labels: C - Mobile, L - Need reviews, P2 - High, T - Bug

#1142 Add polling service for automatically retrying failed transactions in wallet
  src/desktop/src/ui/global/Polling.js
  src/mobile/src/ui/components/Poll.js
  src/shared/__tests__/__samples__/accounts.js
  src/shared/__tests__/__samples__/transactions.js
  src/shared/__tests__/reducers/polling.spec.js
  src/shared/__tests__/selectors/accounts.spec.js
  src/shared/reducers/polling.js
  src/shared/selectors/accounts.js
  src/shared/selectors/global.js
Labels: C - Desktop, C - Mobile, C - Shared, E - Functional, L - Need reviews, P2 - High, T - Enhancement

#1179 Remove unnecessary console.log
  src/shared/libs/iota/accounts.js
Labels: L - Need reviews

#1178 Use local time for SeedVault export file
  src/desktop/native/preload/Electron.js
  src/mobile/src/ui/components/SeedVaultExportComponent.js
  src/shared/libs/exports.js
Labels: C - Desktop, C - Mobile, E - Functional, L - Need reviews

#1175 Mobile/iOS: Argon2 hashing updates
  src/mobile/ios/Argon2/Argon2Core.swift
  src/mobile/ios/Argon2/Argon2IOS.m
  src/mobile/ios/Argon2/Argon2IOS.swift
  src/mobile/ios/Podfile
  src/mobile/ios/Podfile.lock
  src/mobile/src/libs/crypto.js
Labels: C - Mobile, E - Security, L - Need reviews, P - iOS, P2 - High, T - Enhancement

#1182 Desktop: Default `batchedPow` to true
  src/desktop/src/libs/SeedStore/SeedStoreCore.js
Labels: C - Desktop, L - Need reviews, T - Bug

#1052 Mobile: Document entangled build steps
  docs/dev/entangled-mobile.md
  src/mobile/scripts/build-entangled-android.sh
Labels: C - Mobile, E - Documentation, L - Need reviews, T - Meta

#1183 Add (missing) password prop to Polling component
  src/desktop/src/ui/global/Polling.js
Labels: C - Desktop, L - Need reviews

#1190 Fix propType warnings
  src/mobile/__tests__/ui/components/Poll.spec.js
Labels: C - Mobile, L - Need reviews

#1172 Link up trit-based checksums
  src/mobile/__tests__/ui/components/Checksum.spec.js
  src/mobile/src/ui/components/Checksum.js
  src/mobile/src/ui/components/CustomTextInput.js
  src/mobile/src/ui/views/onboarding/WriteSeedDown.js
  src/shared/__tests__/libs/iota/utils.spec.js
  src/shared/libs/iota/utils.js
Labels: C - Mobile, C - Shared, E - Functional, L - Need reviews, P2 - High, T - Enhancement

#1185 Desktop: Fix snapshot transition
  src/desktop/src/ui/views/settings/account/Tools.js
Labels: C - Desktop, E - Functional, L - Need reviews, P2 - High, T - Bug

#1184 Desktop: Fix invalid trunk assignment in local PoW
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
Labels: C - Desktop, E - Functional, L - Need reviews, P2 - High, T - Bug

#1196 Refactor keychain wrapper object (Remove unnecessary promises)
  src/mobile/src/libs/keychain.js
Labels: C - Mobile, E - Refactor, L - Need reviews

#1181 Add account name autofill for SeedVault
  src/desktop/src/libs/SeedStore/SeedStoreCore.js
  src/mobile/__tests__/ui/views/onboarding/SetAccountName.spec.js
  src/mobile/nodejs-assets/nodejs-project/main.js
  src/mobile/src/ui/components/SeedVaultExportComponent.js
  src/mobile/src/ui/components/SeedVaultImportComponent.js
  src/mobile/src/ui/views/onboarding/SetAccountName.js
  src/mobile/src/ui/views/wallet/UseExistingSeed.js
  src/shared/constants.js
Labels: C - Mobile, E - Functional, L - Need reviews, T - Enhancement

#1173 Mobile: Refactor CustomTextInput and add ability to mask/unmask text
  src/mobile/android/app/src/main/assets/fonts/Icons.ttf
  src/mobile/src/ui/components/AmountTextInput.js
  src/mobile/src/ui/components/CustomTextInput.js
  src/mobile/src/ui/components/EnterPassword.js
  src/mobile/src/ui/components/EnterPasswordOnLogin.js
  src/mobile/src/ui/components/PasswordFields.js
  src/mobile/src/ui/views/onboarding/EnterSeed.js
  src/mobile/src/ui/views/onboarding/SeedReentry.js
  src/mobile/src/ui/views/onboarding/WriteSeedDown.js
  src/mobile/src/ui/views/wallet/ChangePassword.js
  src/mobile/src/ui/views/wallet/ForceChangePassword.js
  src/mobile/src/ui/views/wallet/Send.js
  src/mobile/src/ui/views/wallet/UseExistingSeed.js
  src/shared/icons/Icons.svg
  src/shared/icons/Icons.ttf
  src/shared/icons/icons.js
  src/shared/icons/icons/eyeSlash.svg
Labels: C - Mobile, E - Refactor, E - UI/UX, P3 - Medium, T - Enhancement

#1191 Block untraversable bundles from getting broadcasted
  src/shared/__tests__/__samples__/transactions.js
  src/shared/__tests__/actions/transfers.spec.js
  src/shared/__tests__/libs/iota/addresses.spec.js
  src/shared/__tests__/libs/iota/recovery.spec.js
  src/shared/__tests__/libs/iota/transfers.spec.js
  src/shared/libs/iota/extendedApi.js
  src/shared/libs/iota/transfers.js
Labels: C - Shared, E - Functional, E - Security, L - Need reviews, P2 - High, T - Enhancement

#1197 Add tests for keychain object
  src/mobile/__tests__/libs/keychain.spec.js
Labels: C - Mobile, L - Need reviews, L - Tests

#1203 Mobile: Fix CustomTextField mask bugs
  src/mobile/__tests__/ui/components/CustomTextInput.spec.js
  src/mobile/src/ui/components/CustomTextInput.js
  src/mobile/src/ui/views/onboarding/EnterSeed.js
Labels: C - Mobile, L - Need reviews, T - Bug

#1164 Desktop: Fix info alert colour
  src/desktop/src/ui/global/alerts.scss
Labels: C - Desktop, E - UI/UX, T - Bug

#1167 Mobile/iOS: Rebuild Entangled framework
  src/mobile/ios/EntangledIOS/EntangledKit.framework/EntangledKit
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
Labels: C - Mobile, E - Security, L - Need reviews, P - iOS, P3 - Medium, T - Bug, T - Enhancement

#1206 Desktop: Set default value for ​max​ as 256 in random byte generation
  src/desktop/src/libs/crypto.js
Labels: C - Desktop, E - Functional, T - Enhancement

#1207 Mobile: Fix Android secure text entry for seed inputs
  src/mobile/src/ui/views/onboarding/EnterSeed.js
  src/mobile/src/ui/views/onboarding/SeedReentry.js
  src/mobile/src/ui/views/wallet/Send.js
  src/mobile/src/ui/views/wallet/UseExistingSeed.js
Labels: C - Mobile, P - Android, T - Bug

#1214 Shared: Fix issues with local Proof of Work
  src/shared/libs/iota/extendedApi.js
  src/shared/libs/iota/transfers.js
Labels: C - Shared, E - Functional, T - Bug

#1208 Mobile: Fix Android QR overlap
  src/mobile/src/ui/views/wallet/Receive.js
Labels: C - Mobile, E - UI/UX, T - Bug

#1216 Mobile: Update empty History UI and amend other visual issues
  src/mobile/src/ui/components/CustomTextInput.js
  src/mobile/src/ui/views/wallet/History.js
  src/shared/locales/en/translation.json
Labels: C - Mobile, E - Functional, E - UI/UX, T - Bug, T - Enhancement

#1215 Mobile: Improve write seed down UX
  src/mobile/src/libs/navigation.js
  src/mobile/src/ui/routes/navigation.js
  src/mobile/src/ui/views/onboarding/PrintBlankTemplate.js
  src/mobile/src/ui/views/onboarding/SaveYourSeed.js
  src/mobile/src/ui/views/onboarding/WriteSeedDown.js
  src/shared/actions/wallet.js
  src/shared/locales/en/translation.json
  src/shared/reducers/wallet.js
Labels: C - Mobile, E - UI/UX, T - Enhancement

#1198 Mobile release v0.6.2 (50)
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
Labels: C - Mobile, Release
