Repository iotaledger/trinity-wallet, pull requests merged in 2019-08, with the labels that each got.

#1931 Desktop: Enabled Hardened Runtime
  src/desktop/entitlements.mac.plist
  src/desktop/native/hardware/Ledger.js
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
  src/desktop/scripts/notarize.macos.js
  src/desktop/src/ui/views/onboarding/seedStore/Ledger.js
Labels: C - Desktop, E - Security, P - macOS

#2085 Mobile/iOS: Fix Xcode 11 build
  src/mobile/patches/react-native+0.57.5.patch
Labels: C - Mobile, P - iOS, T - Bug

#2043 Mobile: Enable auth fields for nodes
  src/mobile/src/ui/views/wallet/AddCustomNode.js
  src/mobile/yarn.lock
  src/shared/package.json
  src/shared/yarn.lock
Labels: C - Mobile, C - Shared

#2088 Desktop: Enable basic auth for custom nodes
  src/desktop/src/ui/views/settings/NodeCustom.js
  src/desktop/src/ui/views/settings/index.scss
Labels: C - Desktop, L - Need reviews, T - Enhancement

#2092 Update Menu.js | Fixes Help > Trinity Help leads to 404
  src/desktop/native/libs/Menu.js
Labels: C - Desktop, T - Bug

#2012 Mobile: Update react-native to 0.59
  src/mobile/__tests__/ui/components/TransactionHistoryModal.spec.js
  src/mobile/__tests__/ui/views/wallet/Balance.spec.js
  src/mobile/__tests__/ui/views/wallet/EditAccountName.spec.js
  src/mobile/android/app/build.gradle
  src/mobile/android/build.gradle
  src/mobile/android/gradle/wrapper/gradle-wrapper.properties
  src/mobile/android/gradlew
  src/mobile/android/gradlew.bat
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  src/mobile/package.json
  src/mobile/patches/react-native+0.57.5.patch
  src/mobile/patches/react-native+0.59.10.patch
  src/mobile/rn-cli.config.js
  src/mobile/src/libs/bugsnag.js
  src/mobile/src/libs/navigation.js
  src/mobile/src/ui/components/DynamicStatusBar.js
  src/mobile/src/ui/components/Poll.js
  src/mobile/src/ui/routes/entry.js
  src/mobile/src/ui/theme/general.js
  src/mobile/yarn.lock
Labels: C - Mobile, L - Need reviews, T - Bug, T - Enhancement

#2091 Shared: Mitigate potential crashes when formatting fiat balance
  src/desktop/src/ui/components/Balance.js
  src/mobile/__tests__/ui/views/wallet/Balance.spec.js
  src/mobile/src/ui/views/wallet/Balance.js
  src/shared/libs/currency.js
Labels: C - Shared, L - Need reviews, P2 - High, T - Bug

#2107 Shared: Use specific node for Proof-of-Work
  src/desktop/src/ui/components/input/Select.js
  src/desktop/src/ui/views/settings/Node.js
  src/shared/__tests__/reducers/settings.spec.js
  src/shared/actions/settings.js
  src/shared/containers/settings/Node.js
  src/shared/libs/storageToStateMappers.js
  src/shared/locales/en/translation.json
  src/shared/reducers/settings.js
  src/shared/schemas/default.js
  src/shared/schemas/index.js
  src/shared/schemas/v6/index.js
  src/shared/selectors/global.js
  src/shared/storage/index.js
  src/shared/types/index.js
Labels: C - Shared, E - Functional, L - Need reviews

#2111 Desktop: Isolate Release Candidate version user data
  src/desktop/__tests__/libs/crypto.test.js
  src/desktop/native/preload/Electron.js
  src/desktop/src/libs/SeedStore/Keychain.js
  src/desktop/src/libs/constants.js
  src/desktop/src/libs/crypto.js
  src/desktop/src/libs/realm.js
  src/desktop/src/ui/Index.js
  src/desktop/src/ui/views/settings/Advanced.js
  src/shared/schemas/index.js
Labels: C - Desktop, E - Functional, L - Need reviews

#2108 Mobile: Sets up environments for Beta and App Store versions
  src/mobile/android/app/build.gradle
  src/mobile/android/app/src/main/res/values/strings.xml
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet.xcodeproj/xcshareddata/xcschemes/iotaWallet-AppStore.xcscheme
  src/mobile/ios/iotaWallet.xcodeproj/xcshareddata/xcschemes/iotaWallet-Beta.xcscheme
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/package.json
Labels: C - Mobile, T - Enhancement

#2130 Shared: Update node settings
  src/desktop/__tests__/ui/views/settings/__snapshots__/node.test.jsx-snap.png
  src/desktop/src/ui/views/settings/Advanced.js
  src/desktop/src/ui/views/settings/Node.js
  src/desktop/src/ui/views/settings/index.scss
  src/mobile/src/ui/components/SettingsContent.js
  src/mobile/src/ui/components/SettingsRow.js
  src/mobile/src/ui/components/SettingsRowsContainer.js
  src/mobile/src/ui/components/SettingsSeparator.js
  src/mobile/src/ui/views/wallet/AdvancedSettings.js
  src/mobile/src/ui/views/wallet/NodeSettings.js
  src/mobile/src/ui/views/wallet/Pow.js
  src/shared/__tests__/reducers/settings.spec.js
  src/shared/actions/settings.js
  src/shared/actions/transfers.js
  src/shared/containers/settings/Node.js
  src/shared/libs/iota/NodesManager.js
  src/shared/locales/en/translation.json
  src/shared/reducers/settings.js
  src/shared/schemas/default.js
  src/shared/schemas/v6/index.js
  src/shared/selectors/global.js
  src/shared/storage/index.js
  src/shared/types/index.js
Labels: C - Shared, E - Functional, E - UI/UX, T - Bug, T - Enhancement

#2134 Mobile/Android: Remove duplicate assets
  src/mobile/android/app/src/main/res/drawable-mdpi/_shared_images_error.png
  src/mobile/android/app/src/main/res/drawable-mdpi/_shared_images_infoicon.png
  src/mobile/android/app/src/main/res/drawable-mdpi/_shared_images_successicon.png
  src/mobile/android/app/src/main/res/drawable-mdpi/_shared_images_warnicon.png
Labels: C - Mobile, P - Android

#2138 Mobile: Add beta build specific app icons
  src/mobile/android/app/src/beta/ic_launcher-web.png
  src/mobile/android/app/src/beta/res/mipmap-anydpi-v26/ic_launcher.xml
  src/mobile/android/app/src/beta/res/mipmap-anydpi-v26/ic_launcher_round.xml
  src/mobile/android/app/src/beta/res/mipmap-hdpi/ic_launcher.png
  src/mobile/android/app/src/beta/res/mipmap-hdpi/ic_launcher_foreground.png
  src/mobile/android/app/src/beta/res/mipmap-hdpi/ic_launcher_round.png
  src/mobile/android/app/src/beta/res/mipmap-mdpi/ic_launcher.png
  src/mobile/android/app/src/beta/res/mipmap-mdpi/ic_launcher_foreground.png
  src/mobile/android/app/src/beta/res/mipmap-mdpi/ic_launcher_round.png
  src/mobile/android/app/src/beta/res/mipmap-xhdpi/ic_launcher.png
  src/mobile/android/app/src/beta/res/mipmap-xhdpi/ic_launcher_foreground.png
  src/mobile/android/app/src/beta/res/mipmap-xhdpi/ic_launcher_round.png
  src/mobile/android/app/src/beta/res/mipmap-xxhdpi/ic_launcher.png
  src/mobile/android/app/src/beta/res/mipmap-xxhdpi/ic_launcher_foreground.png
  src/mobile/android/app/src/beta/res/mipmap-xxhdpi/ic_launcher_round.png
  src/mobile/android/app/src/beta/res/mipmap-xxxhdpi/ic_launcher.png
  src/mobile/android/app/src/beta/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  src/mobile/android/app/src/beta/res/mipmap-xxxhdpi/ic_launcher_round.png
  src/mobile/android/app/src/beta/res/values/ic_launcher_background.xml
  src/mobile/android/app/src/debug/ic_launcher-web.png
  src/mobile/android/app/src/debug/res/drawable/background_splash.xml
  src/mobile/android/app/src/debug/res/drawable/icon.png
  src/mobile/android/app/src/debug/res/mipmap-anydpi-v26/ic_launcher.xml
  src/mobile/android/app/src/debug/res/mipmap-anydpi-v26/ic_launcher_round.xml
  src/mobile/android/app/src/debug/res/mipmap-hdpi/ic_launcher.png
  src/mobile/android/app/src/debug/res/mipmap-hdpi/ic_launcher_foreground.png
  src/mobile/android/app/src/debug/res/mipmap-hdpi/ic_launcher_round.png
  src/mobile/android/app/src/debug/res/mipmap-mdpi/ic_launcher.png
  src/mobile/android/app/src/debug/res/mipmap-mdpi/ic_launcher_foreground.png
  src/mobile/android/app/src/debug/res/mipmap-mdpi/ic_launcher_round.png
  src/mobile/android/app/src/debug/res/mipmap-xhdpi/ic_launcher.png
  src/mobile/android/app/src/debug/res/mipmap-xhdpi/ic_launcher_foreground.png
  src/mobile/android/app/src/debug/res/mipmap-xhdpi/ic_launcher_round.png
  src/mobile/android/app/src/debug/res/mipmap-xxhdpi/ic_launcher.png
  src/mobile/android/app/src/debug/res/mipmap-xxhdpi/ic_launcher_foreground.png
  src/mobile/android/app/src/debug/res/mipmap-xxhdpi/ic_launcher_round.png
  src/mobile/android/app/src/debug/res/mipmap-xxxhdpi/ic_launcher.png
  src/mobile/android/app/src/debug/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  src/mobile/android/app/src/debug/res/mipmap-xxxhdpi/ic_launcher_round.png
  src/mobile/android/app/src/debug/res/values/ic_launcher_background.xml
  src/mobile/android/app/src/main/res/mipmap-ldpi/icon.png
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Images.xcassets/AppIconBeta.appiconset/Contents.json
  src/mobile/ios/iotaWallet/Images.xcassets/AppIconBeta.appiconset/icon-ios-1024@1x.png
  src/mobile/ios/iotaWallet/Images.xcassets/AppIconBeta.appiconset/icon-ios-20@2x.png
  src/mobile/ios/iotaWallet/Images.xcassets/AppIconBeta.appiconset/icon-ios-20@3x.png
  src/mobile/ios/iotaWallet/Images.xcassets/AppIconBeta.appiconset/icon-ios-29@2x.png
  src/mobile/ios/iotaWallet/Images.xcassets/AppIconBeta.appiconset/icon-ios-29@3x.png
  src/mobile/ios/iotaWallet/Images.xcassets/AppIconBeta.appiconset/icon-ios-40@2x.png
  src/mobile/ios/iotaWallet/Images.xcassets/AppIconBeta.appiconset/icon-ios-40@3x.png
  src/mobile/ios/iotaWallet/Images.xcassets/AppIconBeta.appiconset/icon-ios-60@2x.png
  src/mobile/ios/iotaWallet/Images.xcassets/AppIconBeta.appiconset/icon-ios-60@3x.png
Labels: C - Mobile, T - Enhancement

#2141 Mobile/iOS: Add CocoaPods to Gemfile
  src/mobile/ios/Gemfile
  src/mobile/ios/Gemfile.lock
Labels: C - Mobile, P - iOS, T - Enhancement, dependencies, ruby

#2139 Mobile: Fastlane config improvements
  src/mobile/android/fastlane/Fastfile
  src/mobile/android/fastlane/README.md
  src/mobile/ios/fastlane/Fastfile
  src/mobile/ios/fastlane/README.md
Labels: C - Mobile, T - Enhancement, T - Meta

#2140 Mobile/iOS: Revert changes to embedded frameworks and build system
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Labels: C - Mobile, P - iOS

#2090 Mobile Release 1.1.0
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
  src/mobile/package.json
Labels: C - Mobile, Release

#2155 Mobile/iOS: Remove keychain sharing and fix Debug scheme
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet.xcodeproj/xcshareddata/xcschemes/iotaWallet-Debug.xcscheme
  src/mobile/ios/iotaWallet/iotaWallet.entitlements
Labels: C - Mobile, P - iOS, T - Bug

#2156 Mobile/iOS: Patch react-native-document-picker
  src/mobile/patches/react-native-document-picker+3.2.2.patch
Labels: C - Mobile, L - Need reviews, P - iOS, T - Bug
