Repository iotaledger/trinity-wallet, pull requests merged in 2019-09, with the labels that each got.

#2181 Mobile: chore: resolve set-value to >=2.0.1
  src/mobile/package.json
  src/mobile/yarn.lock
Labels: C - Mobile, E - Security, dependencies

#2207 fix: make sure addresses are converted to trytes in byteTritCheck
  src/shared/actions/recovery.js
Labels: C - Desktop, C - Shared, P2 - High, T - Bug

#2220 Shared: Fix untranslated "Empty" in transaction details
  src/desktop/src/ui/components/List.js
  src/mobile/src/ui/components/TransactionHistoryModal.js
Labels: C - Shared, E - UI/UX, L - Need reviews, T - Bug

#1420 Mobile: Bump react-native-extra-dimensions-android to 1.2.5
  src/mobile/package.json
  src/mobile/yarn.lock
Labels: C - Mobile, L - Need reviews

#2209 fix: mock "objectForPrimaryKey" & "objects" realm methods
  src/shared/storage/index.js
Labels: C - Desktop, P - Windows, T - Bug

#2174 Mobile Release 1.1.0
  src/mobile/android/app/build.gradle
Labels: L - Do not merge

#2089 Desktop release 1.1.0
  src/desktop/CHANGELOG.md
  src/desktop/__tests__/libs/crypto.test.js
  src/desktop/__tests__/ui/global/__snapshots__/about.test.jsx.snap
  src/desktop/__tests__/ui/global/about.test.jsx
  src/desktop/assets/RC/backdrop.png
  src/desktop/assets/RC/backdrop@2x.png
  src/desktop/assets/RC/background.tiff
  src/desktop/assets/RC/icon-1024.png
  src/desktop/assets/RC/icon.icns
  src/desktop/assets/RC/icon.ico
  src/desktop/assets/RC/trayTemplate@2x.png
  src/desktop/native/preload/Electron.js
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
  src/desktop/scripts/jestEnv.js
  src/desktop/src/libs/SeedStore/Keychain.js
  src/desktop/src/libs/constants.js
  src/desktop/src/libs/crypto.js
  src/desktop/src/libs/realm.js
  src/desktop/src/ui/Index.js
  src/desktop/src/ui/global/about.scss
  src/desktop/src/ui/views/settings/Advanced.js
  src/desktop/src/ui/views/settings/Node.js
  src/mobile/src/ui/views/wallet/Login.js
  src/shared/actions/settings.js
  src/shared/schemas/index.js
Labels: C - Desktop, L - Do not merge, Release

#2231 Revert "Android: Add missing android images"
  src/mobile/android/app/src/main/res/drawable-mdpi/_shared_images_error.png
  src/mobile/android/app/src/main/res/drawable-mdpi/_shared_images_infoicon.png
  src/mobile/android/app/src/main/res/drawable-mdpi/_shared_images_successicon.png
  src/mobile/android/app/src/main/res/drawable-mdpi/_shared_images_warnicon.png
Labels: C - Mobile, P - Android, T - Bug

#2236 Mobile/Android: Use default jsBundleDir
  src/mobile/android/app/build.gradle
Labels: C - Mobile, L - Need reviews, P - Android, T - Bug

#2246 Mobile/iOS: Fix crash on iOS 13
  src/mobile/package.json
  src/mobile/patches/react-native-schemes-manager+2.0.0.patch
  src/mobile/yarn.lock
Labels: C - Mobile, P - iOS, P1 - Critical, T - Bug

#2248 Mobile: Patch react-native instead of forking it
  src/mobile/package.json
  src/mobile/patches/react-native+0.59.10.patch
  src/mobile/yarn.lock
Labels: C - Mobile, L - Need reviews, P1 - Critical, T - Bug
