Repository iotaledger/trinity-wallet, pull requests merged in 2019-05, with the labels that each got.

#1429 Mobile: Fix Android splash screen hang when activity context is destroyed
  src/mobile/src/ui/routes/entry.js
Labels: C - Mobile, T - Bug

#1432 Shared: Add SeedVault export validation check
  src/desktop/src/ui/global/SeedExport.js
  src/mobile/src/ui/components/SeedVaultExportComponent.js
Labels: C - Shared, T - Enhancement

#1431 Convert all nested properties of address data from RealmObject to plain object
  src/shared/storage/index.js
Labels: C - Shared, L - Need reviews

#1437 Mobile 0.7.0 (60) Release
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
Labels: C - Mobile, Release

#1438 Windows: Fix deep link functionality
  src/desktop/main.js
Labels: C - Desktop, T - Bug

#1464 Mobile/Android: Rebuild Entangled libs
  src/mobile/android/app/src/main/jniLibs/arm64-v8a/libdummy.so
  src/mobile/android/app/src/main/jniLibs/armeabi-v7a/libdummy.so
  src/mobile/android/app/src/main/jniLibs/x86/libdummy.so
  src/mobile/android/app/src/main/jniLibs/x86_64/libdummy.so
Labels: C - Mobile, L - Need reviews, P - Android, P2 - High, T - Bug

#1457 Desktop: Settings and Onboarding fixes
  src/desktop/native/Menu.js
  src/desktop/src/ui/views/onboarding/Index.js
  src/desktop/src/ui/views/settings/Index.js
  src/desktop/src/ui/views/settings/account/Tools.js
  src/desktop/src/ui/views/settings/index.scss
Labels: C - Desktop, L - Need reviews, T - Bug

#1479 Desktop 0.5.0 Release
  src/desktop/package.json
  src/desktop/src/ui/global/About.js
Labels: C - Desktop, Release

#1477 Desktop: Add Windows 7 incompatibility warning
  src/desktop/main.js
  src/desktop/src/index.js
  src/desktop/src/ui/Index.js
  src/desktop/src/ui/global/FatalError.js
Labels: C - Desktop, E - Functional

#1484 Update issue templates to newer version
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/issue_template.md
Labels: L - Need reviews, T - Meta

#1486 Add issue template metadata [ci skip]
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: L - Need reviews, T - Meta

#1445 Desktop: Add migration explanation
  src/desktop/src/ui/global/Migration.js
Labels: C - Desktop, E - UI/UX, T - Enhancement

#1493 Desktop: Update Bugsnag implementation
  src/desktop/bugsnag.js
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
  src/desktop/src/index.js
  src/desktop/src/ui/global/Idle.js
  src/shared/store.js
Labels: C - Desktop, E - Performance, L - Need reviews

#1505 Mobile/iOS: Patch react-native run-ios
  src/mobile/patches/react-native+0.57.5.patch
Labels: C - Mobile, P - iOS

#1454 Mobile: Bump handlebars to 4.1.2
  src/mobile/package.json
  src/mobile/yarn.lock
Labels: C - Mobile, E - Security, L - Need reviews, dependencies, javascript

#1503 Shared: Fix extra parameter in fn call when reattaching and promoting
  src/shared/actions/transfers.js
Labels: C - Shared, L - Need reviews, P2 - High, T - Bug

#1489 Mobile/iOS: Check in App Store metadata
  src/mobile/ios/fastlane/Deliverfile
  src/mobile/ios/fastlane/metadata/en-GB/description.txt
  src/mobile/ios/fastlane/metadata/en-GB/keywords.txt
  src/mobile/ios/fastlane/metadata/en-GB/name.txt
  src/mobile/ios/fastlane/metadata/en-GB/promotional_text.txt
  src/mobile/ios/fastlane/metadata/en-GB/release_notes.txt
  src/mobile/ios/fastlane/metadata/en-GB/subtitle.txt
  src/mobile/ios/fastlane/metadata/en-GB/support_url.txt
Labels: C - Mobile, L - Need reviews, P - iOS, T - Meta

#1511 Desktop: Fix Tray application Fiat value
  src/desktop/src/ui/global/Polling.js
  src/desktop/src/ui/views/wallet/Dashboard.js
Labels: C - Desktop, L - Need reviews, T - Bug

#1528 Ignore transition addresses if a user swaps account
  src/desktop/src/ui/views/settings/account/Tools.js
  src/mobile/src/ui/views/wallet/SnapshotTransition.js
  src/shared/actions/wallet.js
Labels: C - Desktop, C - Mobile, C - Shared, L - Need reviews, P2 - High, T - Bug

#1485 Shared: Add device time suggestion to out of sync errors
  src/shared/actions/accounts.js
  src/shared/actions/alerts.js
  src/shared/actions/settings.js
  src/shared/libs/errors.js
  src/shared/libs/iota/extendedApi.js
  src/shared/libs/iota/utils.js
  src/shared/locales/en/translation.json
Labels: C - Shared, T - Enhancement

#1488 Shared: Improvements to alerts
  src/desktop/src/ui/Index.js
  src/desktop/src/ui/components/input/Seed.js
  src/desktop/src/ui/global/Alerts.js
  src/desktop/src/ui/global/Idle.js
  src/desktop/src/ui/global/Polling.js
  src/desktop/src/ui/global/SeedExport.js
  src/desktop/src/ui/views/onboarding/AccountPassword.js
  src/desktop/src/ui/views/onboarding/Login.js
  src/desktop/src/ui/views/onboarding/seedStore/Ledger.js
  src/desktop/src/ui/views/wallet/Dashboard.js
  src/desktop/src/ui/views/wallet/Sidebar.js
  src/mobile/src/ui/components/SeedVaultExportComponent.js
  src/mobile/src/ui/components/SeedVaultImportComponent.js
  src/mobile/src/ui/views/wallet/BiometricAuthentication.js
  src/mobile/src/ui/views/wallet/ChangePassword.js
  src/mobile/src/ui/views/wallet/Receive.js
  src/mobile/src/ui/views/wallet/StateExport.js
  src/mobile/src/ui/views/wallet/WalletResetRequirePassword.js
  src/shared/__tests__/libs/iota/utils.spec.js
  src/shared/__tests__/reducers/wallet.spec.js
  src/shared/actions/accounts.js
  src/shared/actions/alerts.js
  src/shared/actions/migrations.js
  src/shared/actions/settings.js
  src/shared/actions/transfers.js
  src/shared/actions/wallet.js
  src/shared/containers/global/Alerts.js
  src/shared/libs/iota/utils.js
  src/shared/locales/en/translation.json
  src/shared/reducers/wallet.js
  src/shared/store.js
Labels: C - Desktop, C - Shared, T - Enhancement

#1558 Desktop: Revert to node-usb 1.5.0
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
Labels: C - Desktop, P2 - High

#1553 Shared: Remove auditjs
  package.json
  src/desktop/package.json
  src/desktop/whitelist.json
  src/mobile/package.json
  src/mobile/whitelist.json
  src/shared/package.json
  src/shared/whitelist.json
  yarn.lock
Labels: C - Shared, L - Need reviews, T - Meta

#1549 Desktop: Catch and display preload and initialisation errors
  src/desktop/main.js
  src/desktop/src/index.js
  src/desktop/src/ui/global/FatalError.js
  src/desktop/src/ui/views/onboarding/index.scss
  src/shared/schemas/index.js
Labels: C - Desktop, E - Functional, L - Need reviews

#1580 Desktop: Lock node-usb to 1.5.0
  src/desktop/npm-shrinkwrap.json
Labels: C - Desktop, P2 - High, T - Bug

#1581 Desktop: Use executable icon for application window
  src/desktop/assets/icon.png
  src/desktop/main.js
Labels: C - Desktop, L - Need reviews, T - Bug

#1584 Desktop: Fix Windows 7 release wallet reset functionality
  src/desktop/src/libs/realm.js
  src/desktop/src/ui/views/settings/Advanced.js
Labels: C - Desktop, L - Need reviews, T - Bug

#1585 Desktop: Check for correct Realm encryption key length
  src/desktop/src/libs/realm.js
Labels: C - Desktop, L - Need reviews, T - Bug

#1554 Mobile: Fix and refactor PasswordFields
  src/mobile/src/ui/components/PasswordFields.js
  src/mobile/yarn.lock
Labels: C - Mobile, E - Refactor, L - Need reviews, P2 - High, T - Bug

#1569 Mobile: Fix long account name styling on transfer confirmation modal
  src/mobile/src/ui/components/TransferConfirmationModal.js
Labels: C - Mobile, E - UI/UX, T - Bug

#1586 Mobile: Bump build numbers for release 0.7.1 (62)
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
  src/mobile/package.json
Labels: C - Mobile, Release

#1578 Move all action types to a separate file
  src/mobile/src/libs/navigation.js
  src/mobile/src/ui/routes/entry.js
  src/mobile/yarn.lock
  src/shared/__tests__/reducers/accounts.spec.js
  src/shared/__tests__/reducers/polling.spec.js
  src/shared/__tests__/reducers/settings.spec.js
  src/shared/__tests__/storage/node.spec.js
  src/shared/actions/accounts.js
  src/shared/actions/alerts.js
  src/shared/actions/home.js
  src/shared/actions/keychain.js
  src/shared/actions/marketData.js
  src/shared/actions/migrations.js
  src/shared/actions/polling.js
  src/shared/actions/progress.js
  src/shared/actions/settings.js
  src/shared/actions/transfers.js
  src/shared/actions/ui.js
  src/shared/actions/wallet.js
  src/shared/middlewares/network.js
  src/shared/middlewares/version.js
  src/shared/reducers/accounts.js
  src/shared/reducers/alerts.js
  src/shared/reducers/home.js
  src/shared/reducers/keychain.js
  src/shared/reducers/marketData.js
  src/shared/reducers/polling.js
  src/shared/reducers/progress.js
  src/shared/reducers/settings.js
  src/shared/reducers/ui.js
  src/shared/reducers/wallet.js
  src/shared/store.js
  src/shared/types/index.js
Labels: C - Shared, T - Bug

#1590 Desktop 0.5.1 Release
  src/desktop/package.json
  src/desktop/src/ui/global/About.js
  src/desktop/webpack.config/config.app.js
  src/desktop/webpack.config/config.main.js
Labels: C - Desktop, Release

#1591 Desktop Windows 7 release 0.5.1
  src/desktop/package.json
  src/desktop/src/ui/global/About.js
  src/desktop/webpack.config/config.app.js
  src/desktop/webpack.config/config.main.js
Labels: C - Desktop, Release

#1579 Update Buildkite badges
  src/desktop/README.md
  src/mobile/README.md
Labels: E - Documentation, T - Meta

#1602 Desktop: Skip retry failed transactions when password is not available
  src/desktop/src/ui/global/Polling.js
Labels: C - Desktop, T - Bug

#1597 Node selection improvement fixes
  package.json
  src/desktop/assets/icon.png
  src/desktop/main.js
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
  src/desktop/src/libs/realm.js
  src/desktop/src/ui/views/settings/Node.js
  src/mobile/__tests__/ui/views/wallet/AddCustomNode.spec.js
  src/mobile/__tests__/ui/views/wallet/EditAccountName.spec.js
  src/mobile/__tests__/ui/views/wallet/MainSettings.spec.js
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
  src/mobile/package.json
  src/mobile/src/ui/components/PasswordFields.js
  src/mobile/src/ui/components/TransferConfirmationModal.js
  src/shared/__tests__/reducers/settings.spec.js
  src/shared/actions/settings.js
  src/shared/libs/storageToStateMappers.js
  src/shared/locales/de/translation.json
  src/shared/locales/no/translation.json
  src/shared/locales/sv-SE/translation.json
  src/shared/package.json
  src/shared/schemas/v3/index.js
  src/shared/storage/index.js
  src/shared/yarn.lock
  yarn.lock
Labels: L - Need reviews

#1595 Shared: Fix CryptoCompare API calls
  src/shared/actions/marketData.js
  src/shared/actions/polling.js
Labels: C - Shared, L - Need reviews, P3 - Medium, T - Bug

#1601 Desktop: Update desktop README
  src/desktop/README.md
Labels: C - Desktop, E - Documentation, L - Need reviews

#1603 Desktop: Fix Ledger onboarding error handling
  src/desktop/src/ui/views/onboarding/seedStore/Ledger.js
Labels: C - Desktop, L - Need reviews, T - Bug

#1605 Shared: Fix `getSelectedAccountMeta` selector
  src/shared/__tests__/selectors/accounts.spec.js
  src/shared/selectors/accounts.js
Labels: C - Shared, L - Need reviews, T - Bug

#1627 Mobile: Update lockfile
  src/mobile/yarn.lock
Labels: C - Mobile, L - Need reviews

#1628 Fix "Duplicate module name" issue
  src/mobile/package.json
Labels: C - Mobile, L - Need reviews

#1629 Fix typo in contributor's name
  src/shared/package.json
Labels: C - Shared, L - Need reviews

#1637 Mobile: Allow exporting complete settings from state
  src/mobile/src/ui/views/wallet/StateExport.js
  src/shared/libs/iota/quorum.js
Labels: C - Mobile, T - Enhancement

#1638 Desktop: FatalError component Linux fix
  src/desktop/src/ui/global/FatalError.js
Labels: C - Desktop, L - Need reviews, T - Bug

#1643 Desktop: Add Snapshot Transition reminder
  src/desktop/src/ui/views/onboarding/SeedIntro.js
  src/desktop/src/ui/views/wallet/Index.js
  src/shared/locales/en/translation.json
Labels: C - Desktop, E - UI/UX, L - Need reviews, T - Enhancement

#1646 Remove dead nodes
  src/shared/config.js
Labels: C - Shared, L - Need reviews

#1653 Desktop: Temporarily show error for Windows users with special characters
  src/desktop/src/ui/global/FatalError.js
Labels: C - Desktop, T - Bug

#1656 Deskop 0.5.2 release
  src/desktop/bugsnag.js
  src/desktop/bugsnag.sh
  src/desktop/native/Index.js
  src/desktop/package.json
  src/desktop/src/ui/Index.js
  src/desktop/src/ui/global/About.js
Labels: C - Desktop, L - Need reviews, Release

#1674 Add seed validation
  src/mobile/android/app/src/main/java/org/iota/mobile/EntangledAndroid.java
  src/mobile/ios/EntangledIOS/EntangledIOS.m
  src/mobile/src/libs/SeedStore/Keychain.js
  src/shared/libs/errors.js
Labels: C - Mobile, C - Shared, E - Security, L - Need reviews
