Repository iotaledger/trinity-wallet, pull requests merged in 2019-04, with the labels that each got.

#1227 Mobile/iOS: Fix Xcode 10.2 build
  src/mobile/patches/react-native+0.57.5.patch
  src/mobile/patches/realm+2.21.1.patch
Labels: C - Mobile, L - Need reviews, P - iOS, P1 - Critical, T - Bug

#1240 [mobile] Fix migration issue
  src/mobile/src/ui/routes/entry.js
Labels: C - Mobile, E - Functional, L - Need reviews, P2 - High, T - Bug

#1253 Add redux-logger
  src/shared/package.json
  src/shared/store.js
  src/shared/yarn.lock
Labels: C - Shared, L - Need reviews

#1254 Desktop: Lock all dependencies to exact versions
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
Labels: C - Desktop, E - Security, L - Need reviews, P2 - High, T - Meta

#1224 Mobile/iOS: Fix NSLocationAlwaysUsageDescription purpose string
  src/mobile/ios/iotaWallet/Info.plist
Labels: C - Mobile, L - Need reviews, P - iOS, P1 - Critical, T - Bug

#1238 Shared: Minor changes to initial node selection
  src/shared/actions/polling.js
  src/shared/config.js
  src/shared/reducers/settings.js
Labels: C - Shared, E - Functional, T - Enhancement

#1226 Bump build numbers for release v0.6.2 (52)
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
Labels: C - Mobile, Release

#1236 Mobile: Minor migration fixes
  src/mobile/src/libs/keychain.js
  src/mobile/src/ui/components/Migration.js
Labels: C - Mobile, T - Bug, T - Enhancement

#1239 Mobile: Ensure seed reentry input only accepts A-Z9
  src/mobile/src/ui/views/onboarding/SeedReentry.js
Labels: C - Mobile, T - Bug

#1237 Desktop: Update external link whitelist
  src/desktop/main.js
Labels: C - Desktop, E - Functional, T - Enhancement

#1200 Add unit tests for crypto utils
  src/mobile/__tests__/libs/crypto.spec.js
  src/mobile/__tests__/libs/keychain.spec.js
  src/mobile/src/libs/crypto.js
  src/mobile/src/libs/keychain.js
Labels: C - Mobile, L - Need reviews

#1258 Shared: Disable quorum on first account load and manual sync
  src/shared/actions/accounts.js
Labels: C - Shared, E - Functional, T - Enhancement

#1168 Realm migrations setup improvements
  src/desktop/main.js
  src/mobile/__tests__/libs/keychain.spec.js
  src/mobile/src/libs/keychain.js
  src/mobile/src/libs/store.js
  src/mobile/src/ui/theme/general.js
  src/mobile/src/ui/views/wallet/Receive.js
  src/mobile/src/ui/views/wallet/TwoFactorSetupAddKey.js
  src/shared/__tests__/actions/transfers.spec.js
  src/shared/__tests__/storage/node.spec.js
  src/shared/schemas/default.js
  src/shared/schemas/index.js
  src/shared/schemas/v0/index.js
  src/shared/schemas/v1/index.js
  src/shared/storage/index.js
Labels: C - Shared, E - Functional, L - Need reviews, P2 - High

#1260 Mobile: Fix 0.6.0 -> 0.6.2 Migration
  src/mobile/src/ui/components/Migration.js
  src/mobile/src/ui/routes/entry.js
Labels: C - Mobile, E - Functional, T - Bug

#1272 Mobile: Fix AsyncStorage migration
  src/mobile/src/ui/routes/entry.js
Labels: C - Mobile, E - Functional, L - Need reviews, P1 - Critical, T - Bug

#1274 Add realm migration from v1 to v2
  src/shared/schemas/index.js
  src/shared/schemas/v2/index.js
Labels: C - Mobile, C - Shared, E - Functional, L - Need reviews, P2 - High

#1276 Only convert transactions to normalised transactions if notification function is defined
  src/shared/libs/iota/accounts.js
Labels: C - Shared, E - Functional, L - Need reviews

#1143 Mobile: Reenable and refactor deep linking
  src/desktop/src/ui/Index.js
  src/desktop/src/ui/views/wallet/Dashboard.js
  src/mobile/android/app/src/main/AndroidManifest.xml
  src/mobile/android/app/src/main/assets/fonts/Icons.ttf
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/src/ui/components/DeepLinking.js
  src/mobile/src/ui/components/InfoBox.js
  src/mobile/src/ui/components/SettingsContent.js
  src/mobile/src/ui/components/Toggle.js
  src/mobile/src/ui/views/wallet/AdvancedSettings.js
  src/mobile/src/ui/views/wallet/DeepLinking.js
  src/mobile/src/ui/views/wallet/Home.js
  src/mobile/src/ui/views/wallet/Loading.js
  src/mobile/src/ui/views/wallet/Login.js
  src/mobile/src/ui/views/wallet/Send.js
  src/mobile/src/ui/views/wallet/Settings.js
  src/shared/__tests__/reducers/settings.spec.js
  src/shared/__tests__/reducers/ui.spec.js
  src/shared/__tests__/reducers/wallet.spec.js
  src/shared/actions/settings.js
  src/shared/actions/wallet.js
  src/shared/icons/Icons.svg
  src/shared/icons/Icons.ttf
  src/shared/icons/icons.js
  src/shared/icons/icons/link.svg
  src/shared/locales/en/translation.json
  src/shared/reducers/settings.js
  src/shared/reducers/ui.js
  src/shared/reducers/wallet.js
  src/shared/schemas/default.js
  src/shared/storage/index.js
Labels: C - Mobile, T - Enhancement

#1244 Mobile: Minor changes to seed text input
  src/mobile/src/ui/components/CustomTextInput.js
Labels: C - Mobile, E - UI/UX, T - Enhancement

#1283 Wait for SeedStore constructor promise to resolve before making a retry attempt
  src/mobile/src/ui/components/Poll.js
Labels: C - Mobile, E - Functional, L - Need reviews, P2 - High

#1284 Add node request timeouts for getTransactionsToApprove endpoint
  src/shared/config.js
  src/shared/libs/iota/extendedApi.js
Labels: C - Shared, E - Functional, L - Need reviews, P2 - High, T - Enhancement

#1293 Make sure we do not reconstruct and validate stored reattachments
  src/shared/libs/iota/transfers.js
Labels: C - Shared, E - Performance, L - Need reviews, P2 - High

#1291 Mobile: Fix seed text input issues
  src/mobile/src/ui/components/CustomTextInput.js
Labels: C - Mobile, E - UI/UX, T - Bug

#1285 Auto-retry with increased timeout for attachToTangle & getTransactionsToApprove APIs
  src/shared/config.js
  src/shared/libs/errors.js
  src/shared/libs/iota/extendedApi.js
  src/shared/libs/iota/utils.js
Labels: C - Shared, E - Functional, T - Enhancement

#1280 Mobile/iOS: Rebuild Entangled framework
  src/mobile/ios/EntangledIOS/EntangledKit.framework/EntangledKit
  src/mobile/ios/EntangledIOS/EntangledKit.framework/Headers/Interface.h
Labels: C - Mobile, L - Need reviews, P - iOS, T - Bug

#1281 Mobile/Android: Rebuild Entangled libs
  src/mobile/android/app/src/main/jniLibs/arm64-v8a/libdummy.so
  src/mobile/android/app/src/main/jniLibs/armeabi-v7a/libdummy.so
  src/mobile/android/app/src/main/jniLibs/x86/libdummy.so
  src/mobile/android/app/src/main/jniLibs/x86_64/libdummy.so
Labels: C - Mobile, E - Security, P - Android, T - Bug

#1275 Mobile: Use native dropdown component
  src/mobile/__tests__/ui/components/Dropdown.spec.js
  src/mobile/package.json
  src/mobile/src/ui/components/Dropdown.js
  src/mobile/src/ui/views/onboarding/LanguageSetup.js
  src/mobile/src/ui/views/wallet/AddCustomNode.js
  src/mobile/src/ui/views/wallet/CurrencySelection.js
  src/mobile/src/ui/views/wallet/EditAccountName.js
  src/mobile/src/ui/views/wallet/LanguageSelection.js
  src/mobile/src/ui/views/wallet/NodeSelection.js
  src/mobile/src/ui/views/wallet/ThemeCustomisation.js
  src/mobile/yarn.lock
Labels: C - Mobile, E - UI/UX, T - Enhancement

#1310 Disable redux-logger by default
  src/shared/store.js
Labels: C - Shared, L - Need reviews

#1192 Desktop: Show modal for Ledger udev errors
  src/desktop/main.js
  src/desktop/src/ui/components/modal/modal.scss
  src/desktop/src/ui/views/onboarding/seedStore/Ledger.js
  src/shared/locales/en/translation.json
Labels: C - Desktop, E - UI/UX, P - Linux, P2 - High, T - Bug

#1322 Desktop: Fix Linux icon path
  src/desktop/main.js
Labels: C - Desktop, E - UI/UX, L - Need reviews

#1326 Fix realm schema migration
  src/shared/schemas/default.js
  src/shared/schemas/v2/index.js
Labels: C - Shared, L - Need reviews, P1 - Critical, T - Bug

#1180 Mobile: Upgrade react-native-keychain to 3.0.0
  src/mobile/package.json
  src/mobile/patches/react-native-keychain+3.0.0.patch
  src/mobile/yarn.lock
Labels: C - Mobile, E - Security, L - Need reviews, P3 - Medium, T - Bug

#1328 Mobile: Fix password fields crash
  src/mobile/src/ui/components/PasswordFields.js
Labels: C - Mobile, T - Bug

#1323 Desktop: Update notification trigger rules
  src/shared/libs/iota/accounts.js
Labels: C - Desktop, E - UI/UX, L - Need reviews

#1324 Desktop: Check for valid SeedVault file format
  src/desktop/native/kdbx.js
  src/desktop/native/preload/Electron.js
  src/desktop/src/ui/components/Dropzone.js
  src/desktop/src/ui/components/input/Seed.js
  src/shared/locales/en/translation.json
Labels: C - Desktop, E - UI/UX, L - Need reviews

#1343 Desktop: Update shrinkwrap
  src/desktop/npm-shrinkwrap.json
Labels: C - Desktop, L - Need reviews, T - Meta

#1338 Update README.md
  src/desktop/README.md
Labels: C - Desktop, E - Documentation, T - Enhancement

#1350 Desktop: Add seed export unavailable explanation
  src/desktop/src/ui/views/settings/account/Seed.js
  src/shared/locales/en/translation.json
Labels: C - Desktop, E - UI/UX, L - Need reviews

#1340 Desktop: Transaction history search updates
  src/desktop/src/ui/components/List.js
  src/desktop/src/ui/components/list.scss
  src/mobile/src/ui/views/wallet/History.js
  src/shared/libs/iota/utils.js
  src/shared/locales/en/translation.json
Labels: C - Desktop, E - Functional, E - UI/UX, L - Need reviews, T - Enhancement

#1358 Make sure we remove unnecessary realm storage files on deprecated storage path
  src/shared/storage/index.js
Labels: C - Shared, P2 - High, T - Bug

#1357 Mobile: Fix fingerprint widget bugs on login
  src/mobile/__tests__/ui/components/EnterPasswordOnLogin.spec.js
  src/mobile/src/ui/components/EnterPassword.js
  src/mobile/src/ui/components/EnterPasswordOnLogin.js
Labels: C - Mobile, E - UI/UX, L - Need reviews, P3 - Medium, T - Bug

#1364 Mobile: Add state export and node settings menu
  src/mobile/__tests__/ui/views/wallet/AdvancedSettings.spec.js
  src/mobile/src/ui/components/SettingsContent.js
  src/mobile/src/ui/views/wallet/AdvancedSettings.js
  src/mobile/src/ui/views/wallet/NodeSelection.js
  src/mobile/src/ui/views/wallet/NodeSettings.js
  src/mobile/src/ui/views/wallet/Settings.js
  src/mobile/src/ui/views/wallet/StateExport.js
  src/shared/locales/en/translation.json
Labels: C - Mobile, L - Need reviews, P2 - High, T - Enhancement

#1365 Mobile: Add try catch to delete account
  src/mobile/src/ui/views/wallet/DeleteAccount.js
Labels: C - Mobile, T - Bug

#1362 Mobile: Bump build numbers for release v0.6.2 (55)
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
Labels: C - Mobile, Release

#1359 Remove all realm files in directory during tests
  src/shared/__tests__/actions/transfers.spec.js
  src/shared/__tests__/storage/node.spec.js
  src/shared/package.json
  src/shared/yarn.lock
Labels: C - Shared

#1368 Make sure we reorder account indexes (in realm) on account deletion
  src/shared/libs/storageToStateMappers.js
  src/shared/storage/index.js
Labels: C - Mobile, C - Shared, P2 - High, T - Bug

#1373 Move to next (poll) service item if auto-retrying of failed transaction errors out
  src/shared/reducers/polling.js
Labels: C - Shared, E - Functional, L - Need reviews, P2 - High, T - Bug

#1372 Correctly pass closeInterval param to dropdown alert
  src/shared/actions/transfers.js
Labels: C - Shared, P3 - Medium, T - Bug

#1371 Shared: Catch error and show alert if node is not synced
  src/shared/actions/accounts.js
Labels: C - Shared, L - Need reviews, P3 - Medium, T - Bug

#1351 Desktop: Deep link functionality updates
  src/desktop/src/ui/Index.js
  src/desktop/src/ui/views/settings/Advanced.js
  src/mobile/src/ui/components/DeepLinking.js
  src/shared/containers/wallet/Send.js
  src/shared/locales/en/translation.json
Labels: C - Desktop, E - Functional, E - UI/UX, L - Need reviews

#1383 Desktop: SeedVault Export/Import adjustments
  src/desktop/src/ui/components/input/Seed.js
  src/desktop/src/ui/components/modal/Password.js
  src/desktop/src/ui/global/SeedExport.js
  src/desktop/src/ui/global/seedExport.scss
Labels: C - Desktop, E - UI/UX, T - Enhancement

#1302 Desktop: Bump entangled-node to 0.2.3
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
Labels: C - Desktop, L - Need reviews, T - Bug

#1394 Make sure all realm objects are converted to plain objects
  src/shared/libs/storageToStateMappers.js
  src/shared/storage/index.js
Labels: C - Shared, E - Functional, L - Need reviews, P2 - High

#1395 Shared: Adjust snapshot transition address gen
  src/desktop/src/ui/views/settings/account/Tools.js
  src/mobile/src/ui/views/wallet/SnapshotTransition.js
  src/shared/actions/wallet.js
Labels: C - Shared, E - Functional, T - Enhancement

#1392 Update max milestone threshold value
  src/shared/__tests__/libs/iota/extendedApi.spec.js
  src/shared/config.js
  src/shared/libs/iota/extendedApi.js
Labels: C - Shared, P2 - High, T - Enhancement

#1391 Mobile: Fix empty dropdown items crash
  src/mobile/package.json
  src/mobile/yarn.lock
Labels: C - Mobile, T - Bug

#1404 Shared: Disable quorum on migration
  src/shared/libs/migrations.js
Labels: C - Shared, T - Enhancement

#1405 Shared: Add iota.org node cluster to default list
  src/shared/config.js
Labels: C - Shared, T - Enhancement

#1406 Shared: Fix node sync check
  src/shared/__tests__/libs/iota/extendedApi.spec.js
  src/shared/libs/iota/extendedApi.js
Labels: C - Shared, L - Need reviews, P2 - High, T - Bug

#1407 Mobile: Adjust seed migration timeout
  src/mobile/src/ui/components/Migration.js
Labels: C - Mobile, T - Enhancement

#1408 Mobile: Bump build no to 59
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
Labels: C - Mobile, Release

#1418 Fix RC1 -> RC2 installation issue on Windows
  src/shared/storage/index.js
Labels: C - Desktop, C - Shared, L - Need reviews, P1 - Critical

#1419 Desktop: Update link to Trinity docs
  src/desktop/native/Menu.js
Labels: C - Desktop, L - Need reviews, T - Bug
