Repository iotaledger/trinity-wallet, pull requests merged in 2019-06, with the labels that each got.

#1687 Desktop: Fix location reload on wallet reset
  src/desktop/native/preload/Electron.js
  src/desktop/src/ui/Index.js
  src/desktop/src/ui/views/settings/Advanced.js
Labels: C - Desktop, L - Need reviews, T - Bug

#1690 Desktop: Add Windows 7 release schema updates
  src/desktop/src/index.js
  src/desktop/src/libs/updateSchema.js
Labels: C - Desktop, L - Need reviews, T - Bug

#1705 Desktop: Auto update functionality updates
  src/desktop/__tests__/ui/global/alerts.test.jsx
  src/desktop/native/libs/Menu.js
  src/desktop/native/preload/Electron.js
  src/desktop/src/ui/global/Alerts.js
  src/shared/locales/en/translation.json
Labels: C - Desktop, E - UI/UX, L - Need reviews

#1704 Desktop: Update wallet language on initial load
  src/desktop/__tests__/ui/components/input/__snapshots__/seed.test.jsx.snap
  src/desktop/__tests__/ui/global/__snapshots__/about.test.jsx.snap
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
  src/desktop/src/index.js
  src/desktop/src/ui/Index.js
  src/desktop/src/ui/Tray.js
  src/desktop/src/ui/components/Balance.js
  src/desktop/src/ui/components/Dropzone.js
  src/desktop/src/ui/components/input/Password.js
  src/desktop/src/ui/components/input/Seed.js
  src/desktop/src/ui/components/modal/Password.js
  src/desktop/src/ui/global/About.js
  src/desktop/src/ui/global/ErrorLog.js
  src/desktop/src/ui/global/Migration.js
  src/desktop/src/ui/global/SeedExport.js
  src/desktop/src/ui/global/UpdateProgress.js
  src/desktop/src/ui/global/seedStore/Ledger.js
  src/desktop/src/ui/views/onboarding/AccountName.js
  src/desktop/src/ui/views/onboarding/AccountPassword.js
  src/desktop/src/ui/views/onboarding/Done.js
  src/desktop/src/ui/views/onboarding/Login.js
  src/desktop/src/ui/views/onboarding/SeedGenerate.js
  src/desktop/src/ui/views/onboarding/SeedIntro.js
  src/desktop/src/ui/views/onboarding/SeedSave.js
  src/desktop/src/ui/views/onboarding/SeedSaveWrite.js
  src/desktop/src/ui/views/onboarding/SeedVerify.js
  src/desktop/src/ui/views/onboarding/Welcome.js
  src/desktop/src/ui/views/onboarding/seedStore/Ledger.js
  src/desktop/src/ui/views/settings/Advanced.js
  src/desktop/src/ui/views/settings/Index.js
  src/desktop/src/ui/views/settings/Language.js
  src/desktop/src/ui/views/settings/Mode.js
  src/desktop/src/ui/views/settings/Password.js
  src/desktop/src/ui/views/settings/Theme.js
  src/desktop/src/ui/views/settings/account/Addresses.js
  src/desktop/src/ui/views/settings/account/Name.js
  src/desktop/src/ui/views/settings/account/Remove.js
  src/desktop/src/ui/views/settings/account/Seed.js
  src/desktop/src/ui/views/settings/account/Tools.js
  src/desktop/src/ui/views/wallet/Dashboard.js
  src/desktop/src/ui/views/wallet/Index.js
  src/desktop/src/ui/views/wallet/Receive.js
  src/desktop/src/ui/views/wallet/Sidebar.js
Labels: C - Desktop, L - Need reviews, T - Bug

#1691 Desktop: Update Custom node management functionality
  src/desktop/src/ui/views/settings/NodeCustom.js
  src/desktop/src/ui/views/settings/index.scss
Labels: C - Desktop, E - UI/UX, L - Need reviews, T - Enhancement

#1688 Desktop: Update logic on full account info fetch error
  src/desktop/src/ui/Index.js
  src/desktop/src/ui/views/onboarding/Login.js
Labels: C - Desktop, L - Need reviews, T - Bug

#1689 Desktop: Add `ignoreProxy` setting to Realm
  src/desktop/__mocks__/stateMock.json
  src/desktop/src/ui/global/About.js
  src/desktop/src/ui/global/Polling.js
  src/desktop/src/ui/global/seedStore/Ledger.js
  src/desktop/src/ui/views/settings/account/Seed.js
  src/mobile/src/ui/views/wallet/AutoPromotion.js
  src/mobile/src/ui/views/wallet/DeepLinking.js
  src/mobile/src/ui/views/wallet/EditAccountName.js
  src/mobile/src/ui/views/wallet/Loading.js
  src/mobile/src/ui/views/wallet/ManualSync.js
  src/mobile/src/ui/views/wallet/Pow.js
  src/mobile/src/ui/views/wallet/ThemeCustomisation.js
  src/mobile/src/ui/views/wallet/UseExistingSeed.js
  src/shared/actions/alerts.js
  src/shared/actions/settings.js
  src/shared/schemas/index.js
  src/shared/schemas/v5/index.js
  src/shared/storage/index.js
Labels: C - Desktop, T - Bug

#1609 Shared: Use new realm updateMode
  src/shared/storage/index.js
Labels: C - Shared, L - Need reviews, T - Bug, T - Enhancement

#1727 Desktop: Add Fatal error explanations
  src/desktop/src/ui/Index.js
  src/desktop/src/ui/global/FatalError.js
  src/desktop/src/ui/views/onboarding/index.scss
Labels: C - Desktop, E - UI/UX, L - Need reviews

#1728 Desktop: Fix Windows 7 does not save quorum state
  src/desktop/native/libs/Realm.js
  src/desktop/webpack.config/config.main.js
Labels: C - Desktop, T - Bug

#1706 Desktop: Upgrade Electron to v4
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
Labels: C - Desktop, L - Need reviews, dependencies

#1726 Desktop: Windows installer updates
  src/desktop/package.json
Labels: C - Desktop, T - Enhancement

#1749 Mobile: Fix unrecognised password issue
  src/mobile/src/ui/views/wallet/Login.js
Labels: C - Mobile, L - Need reviews, T - Bug

#1766 fix: do not perform quorum when it's explicitly turned off
  src/shared/__tests__/selectors/global.spec.js
  src/shared/selectors/global.js
Labels: C - Shared, L - Need reviews, T - Bug

#1741 Mobile: Refactor and add seed validation during signature generation
  src/mobile/android/app/src/main/java/org/iota/mobile/EntangledAndroid.java
  src/mobile/ios/EntangledIOS/EntangledIOS.m
Labels: C - Mobile, E - Refactor, L - Need reviews, T - Bug

#1765 fix: check if blur method exists before calling it
  src/mobile/src/ui/views/wallet/AddCustomNode.js
Labels: C - Mobile, L - Need reviews

#1751 Desktop/macOS: Enable Hardened Runtime
  src/desktop/entitlements.mac.plist
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
  src/desktop/patches/app-builder-lib+20.43.0.patch
  src/desktop/scripts/notarize.js
Labels: C - Desktop, L - Need reviews, P - macOS, P2 - High, T - Enhancement

#1768 Desktop/Windows: Use DigiCert timestamp server
  src/desktop/package.json
Labels: C - Desktop, L - Need reviews, P - Windows, P1 - Critical, T - Bug

#1767 Desktop/Windows: Fix issues with special characters in Realm path
  src/desktop/package.json
  src/desktop/realm-patch/realm+2.23.0.patch
  src/desktop/scripts/win-realm-patch.js
Labels: C - Desktop, L - Need reviews, P - Windows, P1 - Critical, T - Bug

#1671 Desktop 0.6.0
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
  src/desktop/src/ui/global/About.js
  src/desktop/src/ui/views/wallet/Sidebar.js
Labels: C - Desktop, L - Need reviews, Release

#1780 Desktop: Fix Bugsnag API key replacement
  src/desktop/bugsnag.js
  src/desktop/src/libs/bugsnag.js
  src/desktop/webpack.config/config.app.js
Labels: C - Desktop, L - Need reviews, T - Bug

#1781 Desktop: Bump version to 0.6.0
  src/shared/libs/versions.json
Labels: C - Desktop

#1792 Desktop: Fix Tray application render functionallity
  src/desktop/src/index.js
Labels: C - Desktop, T - Bug

#1793 Desktop: Revert Hardened Runtime
  src/desktop/entitlements.mac.plist
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
  src/desktop/patches/app-builder-lib+20.43.0.patch
  src/desktop/scripts/notarize.js
Labels: C - Desktop, T - Bug

#1794 Do not reattach transactions if they are still above max depth
  src/shared/actions/transfers.js
  src/shared/libs/iota/transfers.js
Labels: C - Shared, L - Need reviews, T - Bug

#1779 fix: pass seedStore instance during auto promotion
  src/desktop/src/ui/global/Polling.js
  src/mobile/src/ui/components/Poll.js
  src/shared/actions/polling.js
Labels: C - Desktop, C - Mobile, C - Shared, L - Need reviews

#1795 Mobile: Add front camera support for QR scanning
  src/mobile/android/app/src/main/assets/fonts/Icons.ttf
  src/mobile/package.json
  src/mobile/src/ui/components/QrScanner.js
  src/shared/icons/Icons.svg
  src/shared/icons/Icons.ttf
  src/shared/icons/icons.js
  src/shared/icons/icons/cameraFlip.svg
Labels: C - Mobile, T - Enhancement

#1797 Desktop 0.6.1 Release
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
  src/desktop/src/ui/global/About.js
Labels: C - Desktop, Release

#1807 Mobile: Fix camera flip icon
  src/mobile/android/app/src/main/assets/fonts/Icons.ttf
  src/shared/icons/Icons.svg
  src/shared/icons/Icons.ttf
  src/shared/icons/icons.js
Labels: C - Mobile, T - Bug

#1800 Mobile Release 0.7.3 (71)
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
  src/mobile/package.json
Labels: C - Mobile, Release

#1820 Desktop: Update jest snapshot files
  src/desktop/__tests__/ui/global/__snapshots__/about.test.jsx.snap
Labels: C - Desktop, L - Need reviews

#1819 Mobile: Update yarn.lock
  src/mobile/yarn.lock
Labels: C - Mobile, L - Need reviews

#1821 Mobile/Android: Patch react-native-device-info
  src/mobile/patches/react-native-device-info+0.13.0.patch
Labels: C - Mobile, L - Need reviews, P - Android, T - Bug

#1810 Remove locally stored unhealthy nodes
  src/shared/__tests__/storage/node.spec.js
  src/shared/actions/polling.js
  src/shared/storage/index.js
Labels: C - Shared, L - Need reviews, T - Bug

#1818 Update redux schema before migration
  src/desktop/src/index.js
  src/mobile/src/ui/routes/entry.js
  src/shared/schemas/index.js
Labels: C - Shared, L - Need reviews

#1772 Handle exception if salt is missing from keychain
  src/mobile/__tests__/libs/keychain.spec.js
  src/mobile/src/libs/keychain.js
  src/shared/libs/errors.js
Labels: C - Mobile, L - Need reviews

#1833 Shared: Prevent `Cannot read property message of undefined` in error catches
  src/desktop/src/libs/SeedStore/Ledger.js
  src/desktop/src/ui/components/input/Seed.js
  src/desktop/src/ui/views/wallet/Receive.js
  src/mobile/src/ui/components/SeedVaultImportComponent.js
  src/mobile/src/ui/views/wallet/ForceChangePassword.js
  src/shared/actions/alerts.js
  src/shared/actions/polling.js
  src/shared/actions/transfers.js
  src/shared/libs/iota/transfers.js
Labels: C - Shared, T - Bug

#1832 fix: 0.4.x -> latest database migration
  src/shared/reducers/accounts.js
  src/shared/schemas/index.js
Labels: C - Shared, L - Need reviews, T - Bug

#1811 Shared: Add fallback node list api endpoints
  src/shared/actions/polling.js
  src/shared/config.js
  src/shared/libs/iota/utils.js
  src/shared/libs/migrations.js
  src/shared/package.json
  src/shared/yarn.lock
Labels: C - Shared, E - Functional, L - Need reviews

#1848 Desktop: Do not allow tab when password fields are disabled
  src/desktop/src/ui/components/input/Password.js
Labels: C - Desktop, L - Need reviews, T - Bug

#1852 Mobile release 0.7.3 (74)
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
Labels: C - Mobile, Release

#1870 fix: add a type check before accessing "length" property
  src/shared/actions/polling.js
Labels: C - Shared, L - Need reviews

#1830 Desktop: Update dependencies
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
Labels: C - Desktop, E - Performance, E - Refactor

#1874 Allow state export from desktop
  src/desktop/native/preload/Electron.js
  src/desktop/src/ui/views/settings/Advanced.js
  src/shared/libs/errors.js
Labels: C - Desktop, C - Shared, E - Functional, L - Need reviews

#1884 Specify maxLength for message textboxes
  src/desktop/src/ui/components/input/Text.js
  src/desktop/src/ui/views/wallet/Receive.js
  src/desktop/src/ui/views/wallet/Send.js
  src/mobile/src/ui/components/MultiTextInput.js
  src/mobile/src/ui/views/wallet/Send.js
  src/shared/containers/wallet/Send.js
  src/shared/libs/iota/utils.js
  src/shared/locales/en/translation.json
Labels: C - Desktop, C - Mobile, C - Shared, T - Enhancement

#1887 Desktop: Change price quoting
  src/desktop/__tests__/ui/components/__snapshots__/chart.test.jsx.snap
  src/desktop/__tests__/ui/components/chart.test.jsx
  src/desktop/src/ui/components/Chart.js
  src/desktop/src/ui/components/input/Amount.js
Labels: C - Desktop, E - UI/UX, T - Bug
