Repository iotaledger/trinity-wallet, pull requests merged in 2019-02, with the labels that each got.

#1011 Mobile release v0.6.1 (40)
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
  src/mobile/package.json
  yarn.lock
Labels: C - Mobile, Release

#995 Mobile/iOS: Fix zoom calculation
  src/mobile/package.json
  src/mobile/patches/react-native-camera+1.5.1.patch
  src/mobile/yarn.lock
Labels: C - Mobile, L - Need reviews, P - iOS, T - Bug

#1018 Realm data encryption
  src/desktop/npm-shrinkwrap.json
  src/desktop/src/index.js
  src/desktop/src/libs/SeedStore/Keychain.js
  src/desktop/src/libs/realm.js
  src/mobile/src/libs/keychain.js
  src/mobile/src/libs/realm.js
  src/mobile/src/libs/store.js
  src/mobile/src/ui/components/ModalView.js
  src/mobile/src/ui/components/TopBar.js
  src/mobile/src/ui/routes/entry.js
  src/mobile/src/ui/views/wallet/History.js
  src/mobile/src/ui/views/wallet/WalletResetRequirePassword.js
  src/shared/__tests__/actions/transfers.spec.js
  src/shared/__tests__/storage/node.spec.js
  src/shared/containers/components/List.js
  src/shared/libs/iota/index.js
  src/shared/libs/iota/transfers.js
  src/shared/storage/index.js
Labels: C - Mobile, C - Shared, E - Security, L - Need reviews, P2 - High, T - Enhancement

#421 Mobile, Shared: Dependency cleanup
  package.json
  src/mobile/.snyk
  src/mobile/android/app/build.gradle
  src/mobile/android/app/src/main/java/com/iota/trinity/MainApplication.java
  src/mobile/android/settings.gradle
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/package.json
  src/mobile/yarn.lock
  src/shared/package.json
  src/shared/yarn.lock
  yarn.lock
Labels: C - Mobile, C - Shared, E - Refactor, L - Need reviews, T - Meta

#1021 Redirect to welcome screen only when wallet data is successfully deleted
  src/mobile/src/ui/views/wallet/WalletResetRequirePassword.js
Labels: C - Mobile, E - Functional, L - Need reviews, T - Bug

#1045 Fix change account name bug
  src/shared/storage/index.js
Labels: C - Mobile, E - Functional, P2 - High, T - Bug

#1046 Update isFailedTransaction prop when modal props are updated
  src/mobile/src/ui/views/wallet/History.js
Labels: C - Mobile, E - Functional, L - Need reviews, P2 - High, T - Bug

#1041 Mobile: Add retry button, error log and change node to Realm migration
  src/mobile/src/ui/components/Migration.js
  src/mobile/src/ui/components/NotificationButton.js
  src/mobile/src/ui/components/NotificationLogModal.js
  src/mobile/src/ui/components/TopBar.js
  src/mobile/src/ui/routes/entry.js
  src/shared/actions/migrations.js
  src/shared/locales/en/translation.json
Labels: C - Mobile, T - Enhancement

#1025 Realm Database implementation desktop bugfixes
  src/desktop/README.md
  src/desktop/main.js
  src/desktop/native/preload/Electron.js
  src/desktop/src/index.js
  src/desktop/src/libs/crypto.js
  src/desktop/src/ui/global/Alerts.js
  src/desktop/src/ui/views/settings/Advanced.js
  src/desktop/src/ui/views/settings/account/Addresses.js
  src/shared/storage/index.js
Labels: C - Desktop, L - Need reviews

#1065 Automate entangled android build
  src/mobile/scripts/build-entangled-android.sh
Labels: C - Mobile, P - Android, T - Meta

#857 Desktop: Create Migration component to migrate data
  src/desktop/native/preload/Electron.js
  src/desktop/src/index.js
  src/desktop/src/libs/storage.js
  src/desktop/src/ui/global/Migration.js
  src/desktop/src/ui/views/onboarding/Login.js
  src/desktop/src/ui/views/settings/Advanced.js
  src/shared/storage/index.js
Labels: C - Desktop, E - Functional, E - UI/UX, L - Need reviews, T - Enhancement

#1071 Batched proof-of-work
  src/mobile/android/app/src/main/java/com/iota/trinity/MainApplication.java
  src/mobile/android/app/src/main/java/org/iota/mobile/EntangledAndroid.java
  src/mobile/android/app/src/main/jniLibs/arm64-v8a/libdummy.so
  src/mobile/android/app/src/main/jniLibs/armeabi-v7a/libdummy.so
  src/mobile/android/app/src/main/jniLibs/x86/libdummy.so
  src/mobile/android/app/src/main/jniLibs/x86_64/libdummy.so
  src/mobile/src/libs/SeedStore/SeedStoreCore.js
  src/mobile/src/libs/nativeModules.js
  src/shared/__tests__/libs/iota/transfers.spec.js
  src/shared/libs/errors.js
  src/shared/libs/iota/extendedApi.js
  src/shared/libs/iota/transfers.js
Labels: C - Mobile, L - WIP

#1077 Fix account duplication on account rename operation
  src/mobile/__tests__/ui/views/wallet/EditAccountName.spec.js
  src/mobile/src/ui/views/wallet/EditAccountName.js
Labels: C - Mobile, E - Functional, L - Need reviews, P2 - High, T - Bug

#1089 Fix invalid address data issue
  src/shared/schema/index.js
  src/shared/storage/index.js
Labels: C - Desktop, C - Mobile, C - Shared, E - Functional, L - Need reviews, P2 - High, T - Bug

#1059 Desktop Ledger app update
  src/desktop/native/hardware/Ledger.js
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
  src/desktop/src/libs/SeedStore/Keychain.js
  src/desktop/src/libs/SeedStore/Ledger.js
  src/mobile/src/libs/SeedStore/Keychain.js
  src/shared/actions/transfers.js
Labels: C - Desktop, L - Need reviews

#1094 Desktop: Add migration retry and node change functionality
  src/desktop/src/ui/global/Migration.js
Labels: C - Desktop, L - Need reviews, T - Enhancement

#1096 Desktop: Realm implementation fixes
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
  src/desktop/src/libs/SeedStore/Keychain.js
  src/desktop/src/ui/views/settings/account/Tools.js
Labels: C - Desktop, L - Need reviews, T - Bug

#1095 Desktop: Updated Entangled node use
  src/desktop/native/Entangled.js
  src/desktop/native/preload/Electron.js
  src/desktop/src/libs/SeedStore/Keychain.js
  src/desktop/src/libs/SeedStore/SeedStoreCore.js
Labels: C - Desktop, E - Functional, L - Need reviews

#1093 Fix invalid bundle issue on zero value transaction with bundle size > 1
  src/shared/libs/iota/extendedApi.js
Labels: L - WIP, T - Bug

#1098 Shared: Fix migration when app is first installed
  src/shared/storage/index.js
Labels: C - Shared, L - Need reviews, T - Bug

#1101 Desktop: Ledger functionallity and UX bugfixes
  src/desktop/native/hardware/Ledger.js
  src/desktop/src/libs/SeedStore/Keychain.js
  src/desktop/src/ui/Index.js
  src/desktop/src/ui/views/onboarding/AccountName.js
  src/desktop/src/ui/views/wallet/Receive.js
  src/shared/actions/accounts.js
  src/shared/actions/alerts.js
  src/shared/libs/iota/utils.js
  src/shared/locales/en/translation.json
Labels: C - Desktop, E - Functional, L - Need reviews, T - Bug

#1106 Shared: Add more default nodes
  src/shared/config.js
Labels: C - Shared, L - Need reviews, T - Enhancement

#1109 Mobile/Android: Rebuild Entangled library
  src/mobile/android/app/src/main/jniLibs/arm64-v8a/libdummy.so
  src/mobile/android/app/src/main/jniLibs/armeabi-v7a/libdummy.so
  src/mobile/android/app/src/main/jniLibs/x86/libdummy.so
  src/mobile/android/app/src/main/jniLibs/x86_64/libdummy.so
Labels: C - Mobile, P - Android, T - Bug

#1108 Shared: Fix order in which bundles are stored
  src/shared/actions/transfers.js
Labels: C - Shared, T - Bug

#1100 Mobile/iOS: Fix bugs in Entangled methods
  src/mobile/ios/EntangledIOS/EntangledIOS.m
  src/mobile/ios/EntangledIOS/EntangledIOSUtils.h
  src/mobile/ios/EntangledIOS/EntangledIOSUtils.m
  src/mobile/ios/EntangledIOS/EntangledKit.framework/EntangledKit
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
Labels: C - Mobile, E - Functional, E - Security, L - Need reviews, P - iOS, T - Bug

#1113 Fix invalid mnemonic issue occurring on realm initialization
  src/shared/storage/index.js
Labels: C - Mobile, C - Shared, E - Functional, L - Need reviews, P2 - High, T - Bug

#1118 Update @iota/core to latest
  src/mobile/package.json
  src/mobile/yarn.lock
  src/shared/package.json
  src/shared/yarn.lock
Labels: C - Mobile, C - Shared, E - Functional, L - Need reviews, P2 - High

#1120 Update yarn.lock
  src/shared/yarn.lock
Labels: C - Shared

#1139 Fix account index issue
  src/shared/libs/migrations.js
Labels: C - Shared, L - Need reviews, P2 - High

#1140 Add eclipse project files path to gitignore
  .gitignore
Labels: L - Need reviews

#1138 Mobile/Android: Rebuild Entangled libs with API level 19
  src/mobile/android/app/src/main/jniLibs/arm64-v8a/libdummy.so
  src/mobile/android/app/src/main/jniLibs/armeabi-v7a/libdummy.so
  src/mobile/android/app/src/main/jniLibs/x86/libdummy.so
  src/mobile/android/app/src/main/jniLibs/x86_64/libdummy.so
Labels: C - Mobile, L - Need reviews, P - Android, P1 - Critical, T - Bug

#1141 Bump iota.lib.js to iotaledger/iota.js@eb27c18
  src/shared/package.json
  src/shared/yarn.lock
Labels: C - Shared, L - Need reviews, dependencies

#1148 Resolve request package to version >=2.88.0
  package.json
  yarn.lock
Labels: C - Shared, E - Security, L - Need reviews, dependencies, javascript

#1150 Fix propType warning in tests
  src/mobile/__tests__/ui/components/EnterPasswordOnLogin.spec.js
Labels: C - Mobile, L - Need reviews
