Repository iotaledger/trinity-wallet, pull requests merged in 2019-12, with the labels that each got.

#2385 Shared: Add CDA parsing via QR and Paste
  src/desktop/src/ui/components/input/Address.js
  src/desktop/src/ui/components/input/Amount.js
  src/desktop/src/ui/components/input/Text.js
  src/desktop/src/ui/global/Alerts.js
  src/desktop/src/ui/views/wallet/Dashboard.js
  src/desktop/src/ui/views/wallet/Send.js
  src/mobile/__tests__/ui/views/wallet/Send.spec.js
  src/mobile/package.json
  src/mobile/src/ui/components/AmountTextInput.js
  src/mobile/src/ui/components/CustomTextInput.js
  src/mobile/src/ui/components/StatefulDropdownAlert.js
  src/mobile/src/ui/views/wallet/Send.js
  src/mobile/yarn.lock
  src/shared/__tests__/reducers/ui.spec.js
  src/shared/actions/alerts.js
  src/shared/actions/transfers.js
  src/shared/actions/ui.js
  src/shared/containers/wallet/Send.js
  src/shared/libs/errors.js
  src/shared/libs/iota/utils.js
  src/shared/locales/en/translation.json
  src/shared/package.json
  src/shared/reducers/ui.js
  src/shared/types/index.js
  src/shared/yarn.lock
Labels: C - Shared, T - Enhancement

#2420 Desktop: Bump entangled-node to 0.4.4
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
Labels: C - Desktop, dependencies

#2430 Mobile/iOS: Fix Entangled build
  src/mobile/ios/EntangledIOS/EntangledKit.framework/EntangledKit
  src/mobile/ios/EntangledIOS/EntangledKit.framework/Headers/Interface.h
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
  src/mobile/package.json
Labels: C - Mobile, P - iOS

#2431 Mobile: Reset denomination on QR scan
  src/mobile/src/ui/views/wallet/Send.js
Labels: C - Mobile
