Repository iotaledger/trinity-wallet, pull requests merged in 2019-10, with the labels that each got.

#2238 Mobile/Android: Rebuild Entangled libraries
  src/mobile/android/app/src/main/jniLibs/arm64-v8a/libdummy.so
  src/mobile/android/app/src/main/jniLibs/armeabi-v7a/libdummy.so
  src/mobile/android/app/src/main/jniLibs/x86/libdummy.so
  src/mobile/android/app/src/main/jniLibs/x86_64/libdummy.so
Labels: C - Mobile, E - Performance, P - Android, T - Enhancement

#2237 Mobile/iOS: Rebuild EntangledKit framework
  src/mobile/ios/EntangledIOS/EntangledIOS.m
  src/mobile/ios/EntangledIOS/EntangledKit.framework/EntangledKit
  src/mobile/ios/EntangledIOS/EntangledKit.framework/Headers/Interface.h
  src/mobile/ios/EntangledIOS/EntangledKit.framework/Modules/module.modulemap
Labels: C - Mobile, E - Performance, P - iOS, T - Enhancement

#2300 Mobile: Fix proptype warnings and errors
  src/mobile/__tests__/ui/components/LogoutConfirmationModal.spec.js
  src/mobile/__tests__/ui/components/Poll.spec.js
  src/mobile/__tests__/ui/components/SeedVaultImportComponent.spec.js
  src/mobile/__tests__/ui/components/TransactionRow.spec.js
  src/mobile/__tests__/ui/views/wallet/AddCustomNode.spec.js
  src/mobile/__tests__/ui/views/wallet/AdvancedSettings.spec.js
  src/mobile/__tests__/ui/views/wallet/Send.spec.js
  src/mobile/__tests__/ui/views/wallet/ViewAddresses.spec.js
Labels: C - Mobile
