Repository iotaledger/trinity-wallet, pull requests merged in 2019-01, with the labels that each got.

#862 Add additional spend status check
  src/mobile/src/libs/progressSteps.js
  src/shared/__tests__/actions/transfers.spec.js
  src/shared/__tests__/libs/iota/addresses.spec.js
  src/shared/actions/transfers.js
  src/shared/containers/wallet/Send.js
  src/shared/libs/iota/addresses.js
  src/shared/locales/en/translation.json
Labels: C - Desktop, C - Mobile, C - Shared, E - Functional, E - Security, L - Need reviews, P2 - High, T - Enhancement

#874 Desktop: Realm Database implementation Desktop fixes
  .eslintrc.yml
  src/desktop/native/preload/Electron.js
  src/desktop/src/ui/components/Balance.js
  src/desktop/src/ui/components/List.js
  src/desktop/src/ui/global/Alerts.js
  src/desktop/src/ui/views/settings/account/Addresses.js
  src/desktop/src/ui/views/settings/account/addresses.scss
  src/desktop/src/ui/views/wallet/Receive.js
  src/desktop/src/ui/views/wallet/Sidebar.js
  src/shared/actions/accounts.js
  src/shared/actions/polling.js
  src/shared/containers/components/List.js
  src/shared/libs/iota/accounts.js
Labels: C - Desktop, E - Functional, L - Need reviews, T - Bug

#876 Add Dependabot badge [ci skip]
  README.md
Labels: C - Shared, E - Documentation, T - Enhancement

#873 Mobile/iOS: Prevent RNDeviceInfo from creating a UIWebView
  src/mobile/package.json
  src/mobile/patches/react-native-device-info+0.13.0.patch
  src/mobile/yarn.lock
Labels: C - Mobile, E - Performance, L - Need reviews, P - iOS, T - Bug

#877 Desktop: Realm Database - remove redux persist settings dependency
  src/desktop/main.js
  src/desktop/native/preload/Electron.js
  src/desktop/src/index.js
  src/desktop/src/ui/views/settings/Advanced.js
Labels: C - Desktop, L - Need reviews

#879 [Shared] Fix failing tests
  src/shared/__tests__/libs/iota/addresses.spec.js
Labels: C - Shared, L - Need reviews, T - Bug

#878 Shared: Fix periodically failing sortTransactionTrytesArray test
  src/shared/__tests__/libs/iota/transfers.spec.js
Labels: C - Shared, L - Need reviews, T - Bug

#881 Mobile: Fix issues with animations in settings
  src/mobile/src/ui/components/AnimatedComponent.js
  src/mobile/src/ui/components/TabContent.js
  src/mobile/src/ui/components/TopBar.js
  src/mobile/src/ui/components/TransactionHistoryModal.js
  src/mobile/src/ui/routes/navigation.js
  src/mobile/src/ui/views/wallet/BiometricAuthentication.js
  src/mobile/src/ui/views/wallet/Login.js
  src/mobile/src/ui/views/wallet/SecuritySettings.js
  src/mobile/src/ui/views/wallet/Settings.js
Labels: C - Mobile

#884 Quorum refinements
  src/shared/actions/transfers.js
  src/shared/actions/wallet.js
  src/shared/libs/iota/accounts.js
  src/shared/libs/iota/extendedApi.js
Labels: C - Shared, E - Performance, L - Need reviews

#899 Desktop: Fix update bar drag region on Windows
  src/desktop/src/ui/global/alerts.scss
Labels: C - Desktop, E - UI/UX, T - Bug

#896 Shared: Fix selector for account names with special characters
  src/shared/__tests__/reducers/accounts.spec.js
  src/shared/reducers/accounts.js
Labels: C - Shared, L - Need reviews, P2 - High, T - Bug

#889 Fix snapshot transition bug
  src/mobile/__tests__/ui/views/wallet/SnapshotTransition.spec.js
  src/mobile/src/ui/components/SettingsContent.js
  src/mobile/src/ui/views/wallet/SnapshotTransition.js
Labels: C - Mobile, L - Need reviews, P2 - High, T - Bug

#888 Desktop: Settings view UI layout fixes
  src/desktop/src/ui/views/settings/Node.js
  src/desktop/src/ui/views/settings/account/Addresses.js
  src/desktop/src/ui/views/settings/account/addresses.scss
  src/desktop/src/ui/views/settings/index.scss
Labels: C - Desktop, E - UI/UX, L - Need reviews, T - Bug, T - Enhancement

#900 Disable quorum for getLatestInclusion
  src/shared/libs/iota/accounts.js
  src/shared/libs/iota/extendedApi.js
Labels: C - Shared, E - Functional, L - Need reviews, T - Enhancement

#868 Check if address is valid
  src/shared/__tests__/actions/transfers.spec.js
  src/shared/__tests__/libs/iota/utils.spec.js
  src/shared/actions/transfers.js
  src/shared/libs/errors.js
  src/shared/libs/iota/utils.js
  src/shared/locales/en/translation.json
Labels: C - Shared, E - Functional, E - Security, L - Need reviews, P3 - Medium, T - Bug

#913 Change the way attachToTangle is checked on a node
  src/shared/__tests__/libs/iota/extendedApi.spec.js
  src/shared/actions/settings.js
  src/shared/libs/iota/extendedApi.js
Labels: C - Shared, L - Need reviews

#915 Fix findSyncedNodes implementation
  src/shared/libs/iota/quorum.js
Labels: C - Shared, E - Performance, L - Need reviews, T - Bug

#793 Mobile: Bump kdbxweb to 1.2.5
  src/mobile/nodejs-assets/nodejs-project/yarn.lock
Labels: C - Mobile, E - Security, L - Need reviews

#951 Add request timeouts for wallet primary node
  src/shared/config.js
  src/shared/libs/iota/extendedApi.js
  src/shared/libs/iota/quorum.js
Labels: C - Shared, E - Performance, L - Need reviews

#956 Fix biometric setup on android
  src/mobile/__tests__/ui/views/wallet/BiometricAuthentication.spec.js
  src/mobile/src/ui/components/FingerprintModal.js
  src/mobile/src/ui/routes/navigation.js
  src/mobile/src/ui/views/wallet/BiometricAuthentication.js
Labels: C - Mobile, E - Functional, L - Need reviews, T - Bug

#969 Android build fixes
  src/mobile/android/app/src/main/res/drawable-mdpi/shared_images_error.png
  src/mobile/android/app/src/main/res/drawable-mdpi/shared_images_helloback.png
  src/mobile/android/app/src/main/res/drawable-mdpi/shared_images_infoicon.png
  src/mobile/android/app/src/main/res/drawable-mdpi/shared_images_successicon.png
  src/mobile/android/app/src/main/res/drawable-mdpi/shared_images_warnicon.png
  src/mobile/android/build.gradle
  src/mobile/android/gradle.properties
  src/mobile/android/gradle/wrapper/gradle-wrapper.jar
  src/mobile/android/gradle/wrapper/gradle-wrapper.properties
  src/mobile/android/gradlew
  src/mobile/android/gradlew.bat
Labels: C - Mobile, L - Need reviews, P - Android

#775 Move native proof-of-work & hashing to SeedStoreCore
  src/desktop/npm-shrinkwrap.json
  src/desktop/src/libs/SeedStore/Keychain.js
  src/desktop/src/libs/SeedStore/Ledger.js
  src/desktop/src/libs/SeedStore/SeedStoreCore.js
  src/desktop/src/ui/components/List.js
  src/desktop/src/ui/views/settings/account/Tools.js
  src/desktop/src/ui/views/wallet/Index.js
  src/desktop/src/ui/views/wallet/Send.js
  src/mobile/package.json
  src/mobile/src/libs/SeedStore/Keychain.js
  src/mobile/src/libs/SeedStore/SeedStoreCore.js
  src/mobile/src/ui/routes/entry.js
  src/mobile/src/ui/views/wallet/History.js
  src/mobile/src/ui/views/wallet/Send.js
  src/mobile/src/ui/views/wallet/SnapshotTransition.js
  src/shared/__tests__/actions/transfers.spec.js
  src/shared/__tests__/libs/iota/nativeBindings.spec.js
  src/shared/__tests__/libs/iota/recovery.spec.js
  src/shared/__tests__/libs/iota/transfers.spec.js
  src/shared/actions/polling.js
  src/shared/actions/recovery.js
  src/shared/actions/transfers.js
  src/shared/actions/wallet.js
  src/shared/containers/components/List.js
  src/shared/containers/wallet/Send.js
  src/shared/libs/iota/addresses.js
  src/shared/libs/iota/extendedApi.js
  src/shared/libs/iota/nativeBindings.js
  src/shared/libs/iota/recovery.js
  src/shared/libs/iota/transfers.js
Labels: C - Desktop, C - Mobile, C - Shared, E - Refactor, L - Need reviews

#955 Mobile: Update gradle, biometric error messages and fix modal issue
  src/mobile/android/app/src/main/AndroidManifest.xml
  src/mobile/android/build.gradle
  src/mobile/android/gradle.properties
  src/mobile/android/gradle/wrapper/gradle-wrapper.jar
  src/mobile/android/gradle/wrapper/gradle-wrapper.properties
  src/mobile/android/gradlew
  src/mobile/android/gradlew.bat
  src/mobile/src/ui/components/FingerprintModal.js
  src/mobile/src/ui/components/ModalComponent.js
  src/mobile/src/ui/views/wallet/BiometricAuthentication.js
  src/mobile/src/ui/views/wallet/Send.js
  src/mobile/yarn.lock
  src/shared/locales/en/translation.json
Labels: C - Mobile, T - Bug, T - Enhancement, dependencies

#986 Blacklist nodejs-assets and platform folders for react native packager
  src/mobile/rn-cli.config.js
Labels: C - Mobile, L - Need reviews, T - Meta

#988 Only blacklist (iOS & android) build directories for react-native packager
  src/mobile/rn-cli.config.js
Labels: C - Mobile, L - Need reviews

#989 Increase timeout for attachToTangle network requests
  src/shared/config.js
  src/shared/libs/iota/extendedApi.js
Labels: C - Shared, E - Functional, L - Need reviews

#992 Desktop: Dependencies update
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
  src/desktop/patches/.gitkeep
Labels: C - Desktop, dependencies

#993 Desktop: Update screenshot script
  src/desktop/scripts/puppeteer.js
Labels: C - Desktop, E - Functional

#1001 Remove unused native crypto module
  src/mobile/android/app/src/main/java/org/iota/mobile/CryptoModule.java
Labels: C - Mobile, E - Refactor, L - Need reviews, P - Android
