Repository iotaledger/trinity-wallet, pull requests merged in 2020-05, with the labels that each got.

#2742 fix(desktop): Update to Electron 7.2.3
  src/desktop/native/Index.js
  src/desktop/native/libs/Menu.js
  src/desktop/native/preload/Electron.js
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
Labels: C - Desktop, E - Security, T - Bug, T - Enhancement

#2761 chore(desktop): Upload sourcemaps to Bugsnag
  src/desktop/bugsnag.js
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
Labels: C - Desktop, L - Need reviews

#2770 Desktop Release 1.5.0
  src/desktop/CHANGELOG.md
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
Labels: C - Desktop, Release

#2776 chore: Fix bug tag in issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: E - Documentation, L - Need reviews

#2771 Fix(shared): Fix issues with currency and timeframe settings
  src/shared/actions/settings.js
  src/shared/libs/storageToStateMappers.js
  src/shared/storage/index.js
Labels: C - Shared, L - Need reviews, T - Bug

#2777 chore(desktop): Update changelog
  src/desktop/CHANGELOG.md
Labels: C - Desktop

#2780 chore(mobile/ios): Update iOS code signing identity
  src/mobile/ios/fastlane/Fastfile
Labels: C - Mobile, L - Need reviews, P - iOS, T - Meta

#2785 hotfix: mobile history UI improvements
  src/mobile/src/ui/components/TransactionFilters.js
  src/mobile/src/ui/views/wallet/History.js
  src/mobile/src/ui/views/wallet/Home.js
Labels: C - Mobile, E - UI/UX, T - Bug

#2787 fix: notched iPhone detection
  src/mobile/src/libs/device.js
Labels: C - Mobile, P - iOS, T - Bug

#2793 feature(mobile): Use monotonic clock for logout timer
  src/mobile/android/app/src/main/java/org/iota/mobile/IOTAMobilePackage.java
  src/mobile/android/app/src/main/java/org/iota/mobile/NativeUtilsAndroid.java
  src/mobile/ios/NativeUtils/NativeUtilsIOS.m
  src/mobile/ios/NativeUtils/NativeUtilsIOS.swift
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/src/libs/nativeModules.js
  src/mobile/src/ui/components/UserInactivity.js
  src/mobile/src/ui/views/wallet/Home.js
Labels: C - Mobile, L - Need reviews, T - Bug

#2783 chore(mobile): Remove duplicate react-native-http
  src/mobile/package.json
  src/mobile/yarn.lock
Labels: C - Mobile, L - Need reviews

#2795 fix(desktop): Restrict Ledger account index to valid range
  src/desktop/src/ui/views/onboarding/seedStore/Ledger.js
Labels: C - Desktop, L - Need reviews, T - Bug

#2784 chore: Bump Realm to 5.0.5
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
  src/mobile/package.json
  src/mobile/yarn.lock
  src/shared/package.json
  src/shared/yarn.lock
Labels: C - Desktop, C - Mobile, C - Shared

#2800 chore(desktop): Update changelog
  src/desktop/CHANGELOG.md
Labels: C - Desktop

#2806 fix: transaction history list display
  src/shared/__tests__/libs/iota/transfers.spec.js
  src/shared/libs/iota/transfers.js
Labels: C - Shared, T - Bug

#2805 chore(desktop): update versioning
  src/shared/libs/versions.json
Labels: L - Do not merge

#2799 chore(mobile): Remove handlebars resolution
  src/mobile/package.json
  src/mobile/yarn.lock
Labels: C - Mobile, L - Need reviews

#2808 Mobile Release 1.5.0 (103)
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
  src/mobile/package.json
Labels: C - Mobile, Release

#2817 Fix crash during ledger setup
  src/desktop/src/ui/views/onboarding/SeedIntro.js
Labels: C - Desktop, T - Bug
