Repository iotaledger/trinity-wallet, pull requests merged in 2020-02, with the labels that each got.

#2539 Removes duplicate condition in makeTransaction
  src/shared/actions/transfers.js
Labels: C - Shared

#2547 Update versioning to latest
  src/shared/libs/versions.json
Labels: L - Do not merge

#2511 Fix: Check app ready state on activate event
  src/desktop/native/Index.js
Labels: C - Desktop, L - Need reviews, T - Bug

#2568 chore: ensure bytetrit check does not call quorum
  src/shared/actions/recovery.js
Labels: C - Desktop, T - Bug

#2584 fix(shared): Update port for iotanode.us
  src/shared/config.js
Labels: C - Shared

#2577 fix(desktop): Skip legacy keychain items in isUniqueSeed
  src/desktop/src/libs/SeedStore/Keychain.js
Labels: C - Desktop, L - Need reviews, T - Bug

#2578 fix(shared): Fix failing tests
  src/shared/__tests__/reducers/wallet.spec.js
Labels: C - Shared, L - Need reviews

#2579 fix(shared): Temporarily disable milestone timestamp check
  src/shared/actions/settings.js
  src/shared/libs/iota/extendedApi.js
  src/shared/libs/iota/utils.js
Labels: C - Shared, L - Need reviews
