Repository iotaledger/trinity-wallet, pull requests merged in 2020-01, with the labels that each got.

#2455 hotfix(desktop): use lodash.get instead of destructuring object props
  src/desktop/src/ui/views/exchanges/MoonPay/SelectPaymentCard.js
Labels: C - Desktop, T - Bug

#2452 fix(shared): Use interpolation for sweeps strings
  src/desktop/src/ui/views/settings/account/sweeps/TransferFunds.js
  src/mobile/src/ui/views/wallet/sweeps/TransferFunds.js
  src/shared/locales/en/translation.json
Labels: C - Shared, E - UI/UX, L - Need reviews

#2450 fix(mobile/ios): Link RNCWebView manually to avoid crashes
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
Labels: C - Mobile, L - Need reviews, P - iOS, T - Bug

#2471 Mobile: Fix send max button
  src/mobile/src/ui/views/wallet/Send.js
Labels: C - Mobile, T - Bug

#2472 fix: make (cvc & expiry) text fields inline to avoid content overflow
  src/mobile/src/ui/views/wallet/exchanges/MoonPay/AddPaymentMethod.js
Labels: C - Mobile

#2474 Desktop: Minor UI bugs and updates
  src/desktop/src/index.js
  src/desktop/src/ui/components/Icon.js
  src/desktop/src/ui/components/input/Seed.js
  src/desktop/src/ui/views/wallet/Sidebar.js
  src/desktop/src/ui/views/wallet/index.scss
Labels: C - Desktop, E - UI/UX

#2451 fix: MoonPay enhancements/fixes
  src/desktop/__tests__/ui/components/input/text.test.jsx
  src/desktop/src/ui/components/input/Seed.js
  src/desktop/src/ui/components/input/Text.js
  src/desktop/src/ui/views/exchanges/MoonPay/Landing.js
  src/desktop/src/ui/views/exchanges/MoonPay/ReviewPurchase.js
  src/desktop/src/ui/views/exchanges/MoonPay/UserBasicInfo.js
  src/desktop/src/ui/views/exchanges/MoonPay/WithPurchaseSummary.js
  src/desktop/src/ui/views/exchanges/MoonPay/index.scss
  src/desktop/src/ui/views/wallet/Sidebar.js
  src/mobile/src/ui/components/CustomTextInput.js
  src/mobile/src/ui/views/wallet/History.js
  src/mobile/src/ui/views/wallet/exchanges/MoonPay/AddAmount.js
  src/mobile/src/ui/views/wallet/exchanges/MoonPay/Landing.js
  src/mobile/src/ui/views/wallet/exchanges/MoonPay/ReviewPurchase.js
  src/mobile/src/ui/views/wallet/exchanges/MoonPay/UserBasicInfo.js
  src/mobile/src/ui/views/wallet/exchanges/MoonPay/WithPurchaseSummary.js
  src/shared/libs/utils.js
  src/shared/locales/en/translation.json
  src/shared/selectors/exchanges/MoonPay/index.js
Labels: C - Desktop, C - Mobile, E - Functional, E - UI/UX, T - Bug, T - Enhancement

#2486 fix: rebroadcast bundle during promotion
  src/shared/actions/polling.js
  src/shared/actions/transfers.js
  src/shared/libs/errors.js
  src/shared/libs/iota/extendedApi.js
  src/shared/libs/iota/transfers.js
Labels: C - Shared, T - Bug

#2507 fix(desktop): Fix app initialization
  src/desktop/src/index.js
Labels: C - Desktop, L - Need reviews, T - Bug

#2505 Mobile Release 1.2.3
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
  src/mobile/package.json
Labels: C - Mobile, Release

#2526 chore: Bump Snyk to latest version
  package.json
  src/mobile/package.json
  src/mobile/yarn.lock
  src/shared/package.json
  src/shared/yarn.lock
  yarn.lock
Labels: C - Mobile, C - Shared, L - Need reviews
