Repository iotaledger/trinity-wallet, pull requests merged in 2020-04, with the labels that each got.

#2654 chore(desktop): Fix failing tests
  src/desktop/__tests__/ui/components/__snapshots__/chart.test.jsx.snap
  src/desktop/__tests__/ui/components/chart.test.jsx
  src/desktop/__tests__/ui/views/settings/__snapshots__/node.test.jsx-snap.png
  src/desktop/__tests__/ui/views/settings/__snapshots__/twoFa.test.jsx-snap.png
  src/desktop/__tests__/ui/views/settings/node.test.jsx
  src/desktop/__tests__/ui/views/settings/twoFa.test.jsx
Labels: C - Desktop, L - Need reviews

#2693 chore: resolve kind-of to >=6.0.3
  src/mobile/package.json
  src/mobile/yarn.lock
Labels: C - Mobile, E - Security

#2689 feat/mobile: add transaction filtering
  src/desktop/src/ui/components/List.js
  src/mobile/__tests__/ui/components/CustomTextInput.spec.js
  src/mobile/src/ui/components/CustomTextInput.js
  src/mobile/src/ui/components/Dropdown.js
  src/mobile/src/ui/components/SettingsRow.js
  src/mobile/src/ui/components/TransactionFilters.js
  src/mobile/src/ui/views/wallet/Balance.js
  src/mobile/src/ui/views/wallet/CurrencySelection.js
  src/mobile/src/ui/views/wallet/History.js
  src/mobile/src/ui/views/wallet/Home.js
  src/mobile/src/ui/views/wallet/LanguageSelection.js
  src/mobile/src/ui/views/wallet/ThemeCustomisation.js
  src/shared/__tests__/reducers/settings.spec.js
  src/shared/libs/iota/transfers.js
  src/shared/locales/en/translation.json
  src/shared/reducers/settings.js
  src/shared/schemas/index.js
  src/shared/schemas/v10/index.js
Labels: C - Mobile, T - Enhancement

#2692 Increase AttachToTangle timeout
  src/shared/config.js
Labels: C - Shared, T - Bug

#2686 fix(desktop): Bump vulnerable dependencies
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
Labels: C - Desktop, E - Security, L - Need reviews

#2705 chore: update Realm to 5.0.3
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
  src/mobile/package.json
  src/mobile/yarn.lock
  src/shared/package.json
  src/shared/storage/index.js
  src/shared/yarn.lock
Labels: C - Shared, T - Enhancement

#2709 fix/mobile: alert locale
  src/mobile/src/ui/views/wallet/Send.js
Labels: C - Mobile, E - UI/UX

#2564 chore: desktop dependencies update
  src/desktop/__tests__/ui/components/__snapshots__/chart.test.jsx.snap
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
  src/desktop/webpack.config/config.app.js
Labels: C - Desktop

#2718 chore(desktop): Bump entangled-node to v0.5.1
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
Labels: C - Desktop, L - Need reviews

#2756 hotfix: fix edit account name exception
  src/shared/storage/index.js
Labels: C - Shared, T - Bug

#2757 hotfix: fix qr share on android
  src/mobile/android/app/src/main/java/com/iota/trinity/MainApplication.java
Labels: C - Mobile, P - Android, T - Bug
