Repository iotaledger/trinity-wallet, pull requests merged in 2020-06, with the labels that each got.

#2839 Change default depth to 1
  src/shared/config.js
Labels: C - Shared, E - Functional, T - Enhancement

#2843 chore(mobile): Bump build numbers for release 1.5.1 (104)
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
  src/mobile/package.json
Labels: C - Mobile, Release

#2844 chore(mobile): Bump build numbers for release 1.5.1 (105)
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
Labels: C - Mobile, Release

#2845 Desktop 1.5.1 Release
  src/desktop/CHANGELOG.md
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
Labels: C - Desktop, Release

#2849 fix(desktop): Handle promise from dialog.showMessageBox
  src/desktop/native/libs/Menu.js
Labels: C - Desktop, L - Need reviews, T - Bug

#2850 Desktop Release 1.5.2
  src/desktop/CHANGELOG.md
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
Labels: C - Desktop, Release

#2867 fix(desktop): Bump fsevents to 1.2.13 to fix Windows build
  src/desktop/npm-shrinkwrap.json
Labels: C - Desktop, P - Windows
