Repository iotaledger/trinity-wallet, pull requests merged in 2020-03, with the labels that each got.

#2613 fix: reenable iphone11 settings seedvault export
  src/mobile/src/ui/views/wallet/AccountManagement.js
Labels: C - Mobile, P - iOS

#2540 fix node selection issues during manual promotion
  src/shared/actions/transfers.js
  src/shared/config.js
  src/shared/libs/iota/NodesManager.js
  src/shared/libs/iota/extendedApi.js
Labels: C - Shared, L - Need reviews, T - Bug

#2624 chore(mobile): Rebuild iota_common libs
  src/mobile/android/app/src/main/jniLibs/arm64-v8a/libdummy.so
  src/mobile/android/app/src/main/jniLibs/armeabi-v7a/libdummy.so
  src/mobile/android/app/src/main/jniLibs/x86/libdummy.so
  src/mobile/android/app/src/main/jniLibs/x86_64/libdummy.so
  src/mobile/ios/EntangledIOS/EntangledKit.framework/EntangledKit
  src/mobile/ios/EntangledIOS/EntangledKit.framework/Headers/Interface.h
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
Labels: C - Mobile, L - Need reviews

#2625 fix: enable cleartext traffic for localhost in debug mode
  src/mobile/android/app/src/debug/AndroidManifest.xml
  src/mobile/android/app/src/debug/res/xml/network_security_config.xml
Labels: C - Mobile, P - Android

#2612 Improve README and add contributing guidelines
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  src/desktop/README.md
  src/mobile/README.md
  trinity.png
Labels: E - Documentation

#2615 chore(desktop): Update entangled-node to v0.4.9
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
Labels: C - Desktop, L - Need reviews

#2650 feature(desktop): Reenable auto-updater on Windows and enable logging
  src/desktop/native/Index.js
  src/desktop/native/libs/Menu.js
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
  src/desktop/patches/electron-updater+4.0.14.patch
  src/shared/locales/en/translation.json
Labels: C - Desktop, E - Security, L - Need reviews, P - Windows, T - Bug, T - Enhancement

#2652 Desktop Release 1.4.5
  src/desktop/CHANGELOG.md
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
Labels: C - Desktop, Release

#2668 chore: resolve minimist to ^1.2.5 || >=0.2.1 & acorn to >=7.1.1
  package.json
  src/mobile/package.json
  src/mobile/yarn.lock
  src/shared/package.json
  src/shared/yarn.lock
  yarn.lock
Labels: C - Mobile, C - Shared, E - Security
