Repository iotaledger/trinity-wallet, pull requests merged in 2020-08, with the labels that each got.

#2953 chore(mobile): bump elliptic to 6.5.3
  src/mobile/package.json
  src/mobile/yarn.lock
Labels: C - Mobile, E - Security

#2952 Update node health check implementation
  src/shared/__tests__/libs/iota/addresses.spec.js
  src/shared/__tests__/libs/iota/extendedApi.spec.js
  src/shared/libs/iota/extendedApi.js
  src/shared/libs/iota/quorum.js
Labels: C - Shared, E - Functional

#2965 Feat: Remove legacy fallbacks
  src/shared/__tests__/libs/iota/extendedApi.spec.js
  src/shared/__tests__/libs/iota/utils.spec.js
  src/shared/actions/alerts.js
  src/shared/actions/settings.js
  src/shared/config.js
  src/shared/libs/errors.js
  src/shared/libs/iota/extendedApi.js
  src/shared/libs/iota/transfers.js
  src/shared/libs/iota/utils.js
  src/shared/locales/en/translation.json
Labels: C - Shared

#2964 Blacklist IRI nodes & hornet nodes with version below 0.5.0
  src/shared/__tests__/libs/iota/addresses.spec.js
  src/shared/__tests__/libs/iota/extendedApi.spec.js
  src/shared/__tests__/libs/iota/inputs.spec.js
  src/shared/__tests__/libs/iota/recovery.spec.js
  src/shared/__tests__/libs/iota/transfers.spec.js
  src/shared/config.js
  src/shared/libs/iota/extendedApi.js
Labels: C - Shared

#2967 chore(shared): Blacklist pre-Chrysalis versions
  src/shared/libs/versions.json
Labels: C - Shared, L - Do not merge

#2975 chore(shared): bump version file
  src/shared/libs/versions.json
Labels: C - Shared, L - Do not merge

#2949 Moving from Buildkite to GHA
  .github/workflows/build_desktop.yml
  .github/workflows/build_docker.yml
  .github/workflows/test_desktop.yml
  .github/workflows/test_mobile.yml
  .github/workflows/test_shared.yml
  package.json
  src/desktop/scripts/notarize.macos.js
Labels: T - Meta

#2982 fix(android): fix inactivity crash
  src/mobile/src/ui/components/UserInactivity.js
Labels: C - Mobile, T - Bug

#2979 Disable copying receive address if address is not generated
  src/desktop/src/ui/components/Clipboard.js
  src/desktop/src/ui/views/wallet/Receive.js
Labels: C - Desktop, T - Bug

#2987 Add auto-promotion/reattachment errors to error log
  src/shared/actions/polling.js
Labels: C - Shared, T - Bug

#2986 Replace getLatestInclusion api method with getInclusionStates
  src/shared/libs/iota/extendedApi.js
Labels: C - Shared, T - Bug

#2989 feature(ci): Allow manual desktop builds to be triggered
  .github/workflows/build_desktop.yml
Labels: T - Meta

#2988 feature(ci): Monitor desktop dependencies with Snyk
  .github/workflows/snyk-monitor-js-desktop.yml
Labels: T - Meta

#2996 fix(ci): Install OpenSSL 1.0.2k when running desktop tests
  .github/workflows/test_desktop.yml
Labels: T - Meta

#3001 Fix deeplinking for Windows
  src/desktop/native/Index.js
Labels: C - Desktop, T - Bug

#2990 fix(desktop): Bump electron to 7.3.3
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
Labels: C - Desktop, E - Security, L - WIP

#3008 chore(shared): update Realm to 6.1.0
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
  src/mobile/package.json
  src/mobile/yarn.lock
  src/shared/package.json
  src/shared/storage/index.js
  src/shared/yarn.lock
Labels: C - Desktop, C - Mobile, C - Shared

#3004 Desktop 1.6.1 Release
  src/desktop/CHANGELOG.md
  src/desktop/npm-shrinkwrap.json
  src/desktop/package.json
Labels: C - Desktop, Release

#3011 fix(ci): Fix release notes template
  .github/workflows/build_desktop.yml
Labels: T - Meta

#2995 [Desktop] Fix failing tests
  src/desktop/__mocks__/iriMock.js
  src/desktop/__tests__/ui/components/__snapshots__/list.test.jsx.snap
  src/desktop/__tests__/ui/components/balance.test.jsx
  src/desktop/__tests__/ui/components/list.test.jsx
  src/desktop/__tests__/ui/global/__snapshots__/errorLog.test.jsx.snap
  src/desktop/__tests__/ui/global/alerts.test.jsx
Labels: C - Desktop
