Repository iotaledger/trinity-wallet, pull requests merged in 2021-04, with the labels that each got.

#3343 fix(mobile/ios): Patch Bugsnag string comparison
  src/mobile/patches/bugsnag-react-native+2.23.6.patch
Labels: C - Mobile, P - iOS

#3344 fix(mobile): Bump graceful-fs to 4.2.6
  src/mobile/package.json
  src/mobile/yarn.lock
Labels: C - Mobile

#3354 chore(mobile): Bump version to 1.6.2 (108)
  src/mobile/android/app/build.gradle
  src/mobile/ios/iotaWallet-tvOS/Info.plist
  src/mobile/ios/iotaWallet-tvOSTests/Info.plist
  src/mobile/ios/iotaWallet.xcodeproj/project.pbxproj
  src/mobile/ios/iotaWallet/Info.plist
  src/mobile/ios/iotaWalletTests/Info.plist
  src/mobile/ios/iotaWalletUITests/Info.plist
  src/mobile/package.json
Labels: C - Mobile, Release

#3273 fix: add deprecation versioning
  src/shared/libs/versions.json
Labels: L - Do not merge
